[2021-09-20 21:30] gakonst opened #15 "Symbolic EVM Braindump"
other symbolic evms:
https://github.com/palkeo/pakala/blob/fce61037e511321cfd97b8adf88f5d3b74781099/pakala/sm.py
https://github.com/dapphub/dapptools/blob/beaaeb6a6ad1cde22989bd088b10bdd06718b73f/src/hevm/src/EVM/Symbolic.hs
https://github.com/ConsenSys/mythril/tree/2518cc8b656bb0d21a80058c3f7f1def13da8db7/mythril/laser/ethereum
https://github.com/trailofbits/manticore/blob/b4d129f8b1fd07501ffe096

[2021-09-20 21:32] gakonst opened #16 "Add random fuzzing of inputs"
ideally abstract over the backend so we can use both of the below:
https://github.com/AltSysrq/proptest
https://github.com/BurntSushi/quickcheck

instead using just the function selector as calldata, detect if the function has args and generate random inputs for N iterations
https://github.com/gakonst/dapptools-rs/blob/master/dapp/src/runner.rs#L104

[2021-09-20 21:34] gakonst opened #17 "hevm-style cheatcodes"
HEVM OG implementation: https://github.com/dapphub/dapptools/blob/a2b96cc2dbc28508c9fe699d6438bf6eccafc2ad/src/hevm/src/EVM.hs#L1929-L2058

@brockelmore cheat codes in his fork of sputnik
https://github.com/brockelmore/rust-cevm/blob/35cdefb760d41197ccfadc8c446343f20eba9080/testing/src/tester/mod.rs#L204-L290
https://github.com/brockelmore/rust-cevm/blob/35cdefb760d41197ccfadc8c446343f20eba9080/sr

[2021-09-20 21:36] gakonst opened #18 "native solc bindings"
right now we use https://github.com/roynalnaruto/svm-rs/ and call out to the binary: https://github.com/gakonst/dapptools-rs/blob/f9cde71d7eaf115f624974d533bd347b8e959d59/dapp/src/solc.rs#L62

prelim benchmarks are promising:
https://forum.openzeppelin.com/t/a-faster-solidity-compiler-cli-in-rust/2546

https://github.com/axic/solc-rust
https://github.com/spalladino/solc-rs

![image](https://user-i

[2021-09-20 21:52] gakonst opened #19 "benchmarks against other clients"
alternatives:
* hardhat
* truffle
* upstream dapptools

metrics:
* compilation time
* unit tests time
* symbolic tests time & memory usage

[2021-09-20 21:52] gakonst opened #20 "package to `apt` and `brew`"
as title

[2021-09-20 21:53] gakonst opened #21 "feat: make Foundry WASM compilation compatible and expose bindings to it"
1. make `wasm-pack build` work and add to CI
2. expose nice bindings to it (maybe unnecessary)

[2021-09-20 21:57] gakonst opened #22 "nicer API for writing pure Rust tests"
We already support non-Solidity tests as shown here, but gotta make the API better: https://github.com/gakonst/dapptools-rs/blob/master/dapp/src/multi_runner.rs#L191-L227.

The nicest way to write Solidity tests, would be to write an ethers-rs middleware that instead of doing RPC requests (https://github.com/gakonst/ethers-rs/blob/master/ethers-providers/src/provider.rs#L124), it’d do direct EVM c

[2021-09-20 22:00] gakonst opened #23 "abstract over EVM implementation"
instead of being compatible only with Sputnik, ideally we should define a `trait EVM` which has the functions we need (e.g. `call`) and we implement it for all EVMs we have. This would allow us to have better benchmarks, feature sets etc. It also means that we could use HEVM for any symbolic tests and fast Rust EVMs for everything else

[2021-09-20 22:01] gakonst opened #24 "structured stack & call traces"
dapptools / hardhat-style tracing are extremely good. [evmodin](https://github.com/vorot93/evmodin) has utilities for that natively with its interrupts API and there's open PRs to do that in [sputnik ](https://github.com/rust-blockchain/evm/pull/25)

dapptools trace is just too good to not have:
![image](https://user-images.githubusercontent.com/17802178/134082047-d903e161-c0a8-47c7-a157-c582e1795

[2021-09-20 22:05] gakonst opened #25 "forking mode"
https://github.com/brockelmore/rust-cevm/commit/30eefd0dde797554a2548ce4b44ed64d4b48c44c pretty clean
https://github.com/brockelmore/rust-cevm/search?q=fork+backend

if we can parallelize requests with `join`s, multithreaded tokio runtime etc. to get very high performance that'd be great

[2021-09-20 22:09] gakonst opened #26 "jsonrpc node over the evm instance used"
given an implementer of the `EVM` trait mentioned in #23 and a database type (probably in-memory map), we should be able to run an RPC node that "acts" like a blockchain.

the logic under `service` could act as inspiration https://github.com/brockelmore/rust-cevm/blob/35cdefb760d41197ccfadc8c446343f20eba9080/service/src/EVM/mod.rs, but if possible we should try doing this with the tokio/hyper stac

[2021-09-20 23:25] transmissions11 commented on #16
should take some pointers from the echidna fuzzing engine which keeps a malicious input db and has what they call "constant mining" (recycles state vars and return data as input)

[2021-09-20 23:26] transmissions11 commented on #15
can get the best of both worlds with symbolic seed fuzzing:

![telegram-cloud-photo-size-1-5064516150456592870-y](https://user-images.githubusercontent.com/26209401/134089475-204cd40a-438c-42a0-883b-c5e17962893f.jpg)

[2021-09-20 23:27] transmissions11 commented on #19
rpc testing time would be an important one too (hevm is much worse than hardhat atm)

[2021-09-20 23:30] transmissions11 commented on #24
brownie traces are also pretty insane:

![image](https://user-images.githubusercontent.com/26209401/134089793-4aebd89b-5e5d-4bbb-a224-05a50edce34d.png)

[2021-09-21 00:45] lucas-manuel commented on #24
I like that gas tracking in the brownie logs 👀

[2021-09-21 03:17] jparklev commented on #26
Non-standard RPC method wishlist:

* `evm_snapshot` – useful for externally-managed testing environments (JS SDK tests are maybe the most common example)
* `trace_replayTransaction` – fork mainnet and get state diffs for actions you otherwise wouldn't be able to perform (eg run a governance proposal for a protocol that's behind a governance delay and observe the variable changes)

[2021-09-21 05:20] gakonst opened #29 "seth feature parity"
# Problem & Context

Currently, [`cast`](https://github.com/gakonst/foundry/blob/master/cast/src/lib.rs) and its [cli](https://github.com/gakonst/foundry/blob/master/cli/src/cast.rs) are not at feature parity with seth.

All of Seth's commands can be found [here](https://github.com/dapphub/dapptools/tree/master/src/seth#commands), and the so far implemented `cast` commands can be found [here](http

[2021-09-21 10:18] mattsse opened #31 "Add rustfmt.toml"
suggested options
[code]

Configs are listed here [https://rust-lang.github.io/rustfmt/?version=v1.4.36](https://rust-lang.github.io/rustfmt/?version=v1.4.36)

[2021-09-21 11:34] OdysLam commented on #20
On it @gakonst .

The brew is fairly straightforward. Apt will prob require us to have a binary apt repo that users will add and then use apt-get install.

The reason is that different Linux distros have different repo update cycles, leading to users lagging behind if they user Debian or Ubuntu.

[2021-09-21 12:24] odyslam opened #34 "Dapp debug"
Implement a debug feature where the user can go through the smart contract, Opcode by Opcode.

- OG HEVM debugger: https://github.com/dapphub/dapptools/blob/master/src/hevm/README.md
- Remix debugger: https://remix-ide.readthedocs.io/en/latest/debugger.html

[2021-09-22 04:35] OdysLam opened #35 "Add license file"
@gakonst we need this for #20

[2021-09-22 05:42] OdysLam commented on #20
- [ ] Brew - Create formula
- [ ] Brew - Create bottle
- [ ] Brew - Merge PR into main brew formula repo
- [ ] Create APT/RPM/DEB binary repo
- [ ] RPM package
- [ ] DEB package
- [ ] AUR package
- [ ] Setup CI/CD

[2021-09-22 12:11] OdysLam opened #36 "dapp build creates non-deterministic json structure"
Running the same `dapp build` will create different json files that are structurally the same, but are serialized in a different order. The order is reversed at random intervals.

For example, one invocation may create a `json` file that defines ContractA and then ContractB, while the next invocation may create a `json` file that defines ContractB and then ContractA.

While the json are interchang

[2021-09-22 18:22] #31 closed

[2021-09-22 18:27] #35 closed

[2021-09-23 03:59] gakonst commented on #36
Can we not avoid having to test the output of `dapp build` in brew? I don't think we can easily solve this because json is an unordered data format?

[2021-09-23 05:08] OdysLam commented on #36
I solved it by testing it with `jd` instead if comparing the strings. I opened the issue as an FYI

[2021-09-23 12:05] gakonst commented on #36
Word, given that this is not a blocker, closing.

[2021-09-23 12:05] #36 closed

[2021-09-24 14:34] SamWilsn commented on #18
I pointed this out in the chat, but would like to repeat it here just in case.

Solidity and its library are released under the GPL, so if we link against it directly, we'd also need to be GPL'd.

https://github.com/ethereum/solidity/blob/develop/LICENSE.txt

[2021-09-25 01:05] #23 closed

[2021-09-25 11:24] guanqun commented on #34
Do we prefer TUI or GUI?

[2021-09-25 16:41] gakonst opened #43 "dapp create"
so that we can deploy contracts

bonus points for etherscan verification (multi or single file?). maybe @paulrberg's code can useful here https://github.com/paulrberg/multisol/

[2021-09-25 17:20] transmissions11 commented on #16
oh and shrinking would be rly helpful too

[2021-09-25 17:29] gakonst commented on #16
I think PropTest already has shrinking https://github.com/AltSysrq/proptest/search?q=shrink, as implemented in #44

[2021-09-25 17:54] brockelmore opened #45 "fuzzing should abstract strings and bytes"
Accurate fuzzing of a contract should fuzz a string with pure bytes. The reason is rust's String is utf8, and most tooling (notable, abi encoder) expects the string to truly be a utf8 string. The issue arises that the evm *doesn't* actually care if its true utf8 - it just treats it as bytes. So an attacker could construct a non-utf8 set of bytes and pass it as an input of a string parameter.

If a

[2021-09-26 10:54] ghost opened #46 "Improve accessibility for all EVM languages"
With the development and rise of EVM focused programming languages - besides Vyper and Solidity - like [Fe](https://github.com/ethereum/fe) and [Sway](https://sezna.github.io/EthCC-2021/) I think we should make it as easy as possible to make dapptools-rs accessible for these languages.

I don't have enough knowledge at the moment to assess if this is already possible or how big the effort would be

[2021-09-26 19:23] gakonst commented on #46
Thanks for flagging this. The test runner operates over compiled EVM bytecode and ABI, so we'd only need bindings to the compilers and calling them [instead of solc](https://github.com/gakonst/dapptools-rs/blob/e40621cbdfc1963995798cf78388dfe28914d3b7/dapp/src/multi_runner.rs#L43).

However, I do think we should be focusing on making the simple Solidity experience as great as possible, and we can

[2021-09-27 07:47] gakonst commented on #45
Given that we're using ethers and ethers uses ethabi which uses String, this would be hard to do I think? Always an option for us to rebuild ethabi of course.

[2021-09-27 12:27] #16 closed

[2021-09-27 12:29] gakonst opened #47 "Remove `Clone` trait bound from EVM"
# The Problem

In #44 we made required EVM to be `Clone` with the following rationale:

..and also noted:

We worked around this requirement by patching our dependencies and making  the EVMs clone-able. This probably won't scale well given that EVMs may own or reference state or tracers that cannot be cloned or is too expensive to clone, so we'll need to fix this ASAP.

# Possible Solution

@vorot

[2021-09-27 12:31] gakonst opened #48 "Expand fuzzed abi types"
We need to expand the [`fuzz_param` function](https://github.com/gakonst/dapptools-rs/blob/master/dapp/src/fuzz.rs#L16-L37) to generate proptest strategies for other types.

We should also look into how this would work for Abi Encoder V2 types.

(The same should be done for the [`encode_input`  function](https://github.com/gakonst/dapptools-rs/blob/master/utils/src/lib.rs#L52-L100) so that we can

[2021-09-27 12:33] gakonst commented on #25
Base RPC support was added in #42. Leaving this open for implementing the other forking methods above.

[2021-09-27 13:02] gakonst opened #49 "Flaky installation of Solc on CI"
We use [svm-rs](https://github.com/roynalnaruto/svm-rs) by @roynalnaruto, which is used for managing the global `solc` binary's version, by installing each version under `~/.svm/4version/solc-$version`. For some reason, when running on CI the installation process seems to be flaky, e.g. below:

![telegram-cloud-photo-size-2-5366071301866894295-y](https://user-images.githubusercontent.com/17802178/

[2021-09-27 16:15] transmissions11 commented on #16
Can we keep open for adding advanced features like mutation or constant mining? Or should I crate a new issue

[2021-09-27 16:53] gakonst commented on #16
Yeah let's get more specific issues open for that, along with tags.

[2021-09-27 17:48] transmissions11 opened #51 "feature request: Constant mining in fuzzer"
Echidna has a feature called ["constant mining"](https://github.com/crytic/echidna/pull/262) where it scrapes return values and adds those values to its dictionary to retry as inputs later.

Without this feature, Echidna would (and did) miss the Dappsys DSChief bug.

[2021-09-27 17:49] transmissions11 opened #52 "feature request: Add mutation to fuzzer"

[2021-09-27 23:47] gakonst commented on #47
Temporarily non-threadsafe solution by @mattsse in #50

[2021-09-28 00:13] gakonst commented on #51
More info on it / the motivation in this thread https://forum.openzeppelin.com/t/using-automatic-analysis-tools-with-makerdao-contracts/1021/2, h/t @mds1

[2021-09-29 01:42] guanqun opened #56 "create a a discussion community"
should we create a place to discuss things? there are several approaches:
1. github issue
2. github discussion
3. discord
4. telegram
5. or reuse dappchat...

[2021-09-29 13:48] gakonst commented on #56
I made a TG chat recently, forgot to make it [public](https://t.me/turbodapptools). Still need to add a `CONTRIBUTING.md` which will link to it.

[2021-09-29 13:48] #56 closed

[2021-09-30 13:42] #52 closed

[2021-09-30 14:09] gakonst commented on #49
@roynalnaruto may have some capacity this week to tackle this

[2021-09-30 21:26] gakonst opened #66 "automatic remappings detection"

[2021-09-30 21:30] gakonst opened #67 "support more ethers-rs signers in Seth"
* [ ] ledger
* [ ] aws kms

Both live under https://github.com/gakonst/ethers-rs/tree/master/ethers-signers/src/

Implemented in 2 steps:
1. Add it to the cli opts https://github.com/gakonst/dapptools-rs/blob/master/dapptools/src/seth_opts.rs#L245-L285 (ledger will need hdpath, aws will require some AWS-config related CLI info)
2. Load them if present in the config https://github.com/gakonst/dappt

[2021-09-30 23:07] gakonst opened #69 "Invariant Testing"
@transmissions11 leaked some alpha by @MrChico from the dapphub chat

![telegram-cloud-photo-size-1-5096339203830163703-x](https://user-images.githubusercontent.com/17802178/135541195-c8db7564-9fef-47c9-8a96-3baa48f3b99b.jpg)
![telegram-cloud-photo-size-1-5096339203830163702-x](https://user-images.githubusercontent.com/17802178/135541201-d9364a68-501f-4b84-af54-1bd153e70a8d.jpg)

This algorithm sh

[2021-10-01 10:21] gakonst opened #71 "Abstract away forking to a proper cache"
[code]

Since the values are retrieved via async, we probably need something like this to keep track if we're currently fetching some value

[code]
Perhaps this can be simplified with `lru::Cache` or the `cached` crate which supports async

_Originally posted by @mattsse in https://github.com/gakonst/dapptools-rs/pull/70#discussion_r720094256_

[2021-10-01 13:21] mattsse opened #73 "dapp build parity"
Currently `dapp build` dumps `Name -> CompiledContract` to `dapp.sol.json`, essentially the core output of `ethers::Solc::build`

whereas the OG's output is `{ contracts: { "path": {"name: {"abi": [..], "evm": {..}, "metadata" }} }}`

To get the same out, probably some changes are needed for ethers as well

[2021-10-01 13:38] gakonst commented on #73
Yeah that's flagged [here](https://github.com/gakonst/dapptools-rs/blob/434b49d982670037bc0bb725006c693c44f8900b/solc/src/lib.rs#L51) as well..Need to make Solc emit the full file path, whereas [now it just emits the contract name](https://github.com/gakonst/ethers-rs/blob/master/ethers-core/src/utils/solc.rs#L161-L210)

[2021-10-01 21:21] transmissions11 opened #77 "Gas snapshotting"
https://github.com/dapphub/dapptools/issues/761

[2021-10-02 21:49] gakonst commented on #48
Fixed in #80 #79

[2021-10-02 21:49] #48 closed

[2021-10-03 08:38] #49 closed

[2021-10-04 18:16] odyslam opened #86 "Explore Gitpod + dapptools-rs"
With Gitpod and dapptools.rs, you should really be able to develop anywhere, from whatever device.

It could be interesting to offer it as an option and relatively easy to surface the integration.

https://www.gitpod.io/

[2021-10-06 09:55] gakonst opened #90 "constructors / immutables do not get set"
because we're deploying contracts via the `runtime_bytecode`. we probably should be doing `sputnik.create_call` with the full bytecode.

[2021-10-10 19:17] gakonst commented on #45
I think we can do:
1. Fuzzer generates bytes
2. we convert unsafely the bytes to string with `unsafe { std::str::from_utf8_unchecked(bytes) }`

[2021-10-12 10:33] gakonst opened #98 "hardhat style console.log"
Since many people are familiar with [console.sol](https://github.com/nomiclabs/hardhat/blob/master/packages/hardhat-core/console.sol) we should support it. It'd be simply a new [`call` hook inside the Handler](https://github.com/gakonst/dapptools-rs/blob/master/evm-adapters/src/sputnik/cheatcodes/cheatcode_handler.rs#L376) where instead of hooking on the CHEATCODE_HANDLER, we'd hook on [`CONSOLE_A

[2021-10-12 11:54] gakonst opened #99 "dapptools-style coverage"
Implemented at: https://github.com/dapphub/dapptools/blob/728a9245fa5f78589b0cedec0ade2da5433ad792/src/hevm/src/EVM/UnitTest.hs#L251-L382

Example: https://twitter.com/dapptools/status/1435973810545729536

[2021-10-13 16:25] paulrberg opened #100 "Installing with Homebrew doesn't work"
## Description

I used the command from [dapptools.rs](https://dapptools.rs):

[code]

But I got this error:

[code]

## Environment

- homebrew v3.2.16-28-gd93d19a
- macOS@11.6

[2021-10-15 09:46] gakonst commented on #66
Closed in #104

[2021-10-15 14:56] odyslam commented on #100
yeah, we are waiting for a release to kickstart the whole process.

[2021-10-18 20:53] brockelmore opened #107 "Strange `No such file` error"
Using [yam repo](https://github.com/yam-finance/yamV3), and running any of the following results in a weird error:

Inside the scripts folder run:
[code]
changing the contracts directory to renamed as `lib`:
[code]

this results in this unhelpful error:
[code]

[2021-10-18 21:32] brockelmore opened #109 "Regex on contracts directory mismatches dapptools"
Default `contracts` variable uses regex to locate files. Dapptools just makes you define the top level directory (i.e. `./contracts`), where as rs makes you do `./contracts/**/*.sol`. We should likely match them as otherwise you run into this if migrating from dapptools:
[code]

[2021-10-20 21:47] gakonst commented on #107
OK this is the new errror:

[code]

@jparklev do you think we could make the error give the full path that was attempted?

[2021-10-20 21:56] brockelmore opened #111 "Any directory named `lib` in contracts dir throws error"
When you have a structure like this:
[code]

The automated remapping tries to treat the `./src/lib` directory as a remapping directory and will likely fail because of that (seen [here](https://github.com/gakonst/dapptools-rs/blob/b5555f910096929125a51e797d85b7a6b6c8bf36/dapptools/src/utils.rs#L85-L98)). I don't know upstream ramifications of a change like this, but it is one option:
[code]

Basica

[2021-10-20 22:54] mattsse commented on #111
So the error is really because `path` does not exist and hence `std::fs::read_dir(path)` fails?

I briefly looked at this https://github.com/dapphub/dapptools/blob/b8958a0f01f8f2bde0b489e9793e86e3a8f9a044/src/dapp/libexec/dapp/dapp-remappings, which seems to recursively visit folders and skip those mappings which [do not exist?](https://github.com/dapphub/dapptools/blob/b8958a0f01f8f2bde0b489e9793

[2021-10-21 16:25] guanqun commented on #22
hey @gakonst, I did some hacking and come up with a forked mode provider for evmodin: https://github.com/guanqun/ethers-forked-evm-provider

so I can write the unit test easily, see this example here:

https://github.com/guanqun/ethers-forked-evm-provider/blob/master/tests/provider.rs#L9-L39

[2021-10-21 16:26] guanqun commented on #22
My main use case is for forked mode, so it's quite specialized.

[2021-10-23 10:29] gakonst opened #116 "integrate revm in evm-adapters"
new evm is in town, with tracing support :100: https://github.com/bluealloy/revm/ - let's integrate it

[2021-10-28 11:57] byterose opened #123 "Wen dapptools-rs-template?"
I would love to see a [dapptools-template](https://github.com/gakonst/dapptools-template) port using dapptools-rs after the first release.

[2021-10-31 10:20] odyslam opened #129 "solc corruption"
If I disrupt solc download (e.g ctrl + c), then the installation is corrupted and no tests can run. I have to remove `~/.svm` with `rm -rf` and try again.

It should fail gracefully, or detect the corruption on start and download again.

![image](https://user-images.githubusercontent.com/13405632/139578257-897f2d25-c523-42db-b47a-d6c91a458d27.png)

[2021-10-31 11:13] gakonst commented on #129
Yep this is due to how SVM works under the hood, cc @roynalnaruto

[2021-11-04 13:39] odyslam opened #132 "Landing page copy"
Feature branch towards release: https://github.com/odyslam/dapptools.rs/tree/release-prep
Latest commit: https://fb6306eb.dapptools-rs.pages.dev/

[2021-11-17 00:40] transmissions11 opened #137 "Gas snapshotting wishlist"
- [x] Account for gas refunds! OG tools does not right now.

- [x] Don't include test call overhead in gas snapshots. OG tools includes some of the overhead rn:

<img width="273" alt="Screen Shot 2021-11-16 at 4 42 42 PM" src="https://user-images.githubusercontent.com/26209401/142088659-4b91d86e-74bb-4d3f-8ade-5c80cb7a4772.png">

<img width="187" alt="Screen Shot 2021-11-16 at 4 42 21 PM" src="htt

[2021-11-17 01:50] gakonst commented on #111
This should no longer be the case since https://github.com/gakonst/dapptools-rs/pull/130. Could you please re-run with your same test and re-open if still an issue?

[2021-11-17 01:50] #111 closed

[2021-11-17 01:50] gakonst commented on #77
Superseded by #137

[2021-11-17 01:50] #77 closed

[2021-11-17 01:51] gakonst commented on #71
Should no longer be required with the Sputnik-based forked backends.

[2021-11-17 01:51] #71 closed

[2021-11-17 01:52] gakonst commented on #17
Closing as we have support for all cheatcodes now.

[2021-11-17 01:52] #17 closed

[2021-11-17 16:36] gakonst opened #141 "Lazily iterate over tests instead of collecting"
Instead of collecting [here](https://github.com/gakonst/foundry/blob/master/forge/src/runner.rs#L196-L211) and [here](https://github.com/gakonst/foundry/blob/0785187319a9cdbc070ad40040a360b2e23ddaf0/forge/src/multi_runner.rs#L151-L157), it’d be nice if we could have an iterator which we can stream over

That'd allow us to then iterate in parallel [here](https://github.com/gakonst/foundry/blob/mast

[2021-11-17 20:29] shekhirin opened #143 "Support piped input for encode/decode commands"
[code]

---

Currently these commands need to be able to accept piped input:
  - [ ] `--from-ascii`
  - [ ] `--to-checksum-address`
  - [ ] `--to-ascii`
  - [ ] `--to-bytes32`
  - [ ] `--to-dec`
  - [x] `--to-fix`
  - [x] `--to-hex`
  - [ ] `--to-hexdata`
  - [ ] `--to-uint256`
  - [x] `--to-wei`

[2021-11-17 22:20] gakonst commented on #143
Don't they already? That's why we have [this](https://github.com/gakonst/dapptools-rs/blob/master/dapptools/src/seth.rs#L174) method in certain commands

[2021-11-18 06:12] shekhirin commented on #143
Yep, part of them already does it. Checked in TODO those who already support it. WDYT about others?

[2021-11-18 09:15] #143 closed

[2021-11-18 21:03] brockelmore opened #152 "`evmodin::Message.destination` no longer exists"
"`evmodin::Message` does not have this field"

Since we depend on the github repo, `evmodin::Message` changed out from under us. If you update your registry you'll see the error.

Relevant link: https://github.com/vorot93/evmodin/blob/767c310aba2e9f8e303af852915ae7a3afc010a2/src/common.rs#L170-L200

[2021-11-18 21:08] brockelmore commented on #152
Wait this is weird. `cargo install --path ./dapptools --all-features` reports this error but `cargo build --all-features --all` does not

[2021-11-21 11:45] gakonst opened #155 "good auto config options"
look for
* [x] requirements.txt (https://github.com/gakonst/foundry/pull/181)
* [ ] .dapprc
* [ ] .forgerc

under:
* the current directory
* `$HOME/`
* `$HOME/.foundry`
* `$HOME/.config/foundry`

[2021-11-22 10:57] #109 closed

[2021-11-22 22:01] gakonst commented on #152
closed in #163

[2021-11-22 22:01] #152 closed

[2021-11-22 23:22] gakonst opened #165 "stdlib support"
# Requested feature

It'd be nice if we could import popular contracts in our Solidity without needing to install them as libraries. An example of that in the wild is Hardhat's console.sol being available as `import hardhat/console.sol`.

# Suggested solution

We’d `include_str` the solidity for some contracts in the binary, and when parsing the solidity imports in ethers-solc, we’d see if any of

[2021-11-22 23:26] brockelmore opened #166 "Multithreaded Compilation"
# Requested Feature
For sufficiently large repos, solc compilation can be the slowest part of testing. In those cases we should multithread compilation as much as possible. Here is a rough sketch of a potential way to achieve this?

## Suggested solution

1. Determine a threshold for multithreading compilation (# of sol files in repo?) that offsets any overhead
2. Spin up 1 thread per file, determ

[2021-11-22 23:30] mattsse commented on #165
that should be doable, however, we should add some precautions, like comparing checksums, in the event a user imports a modified version of console.sol for example

[2021-11-23 01:35] stevennevins commented on #123
@byterose i just made a repo based on the solmate repo from rari capital.  Let me know if you get a chance to check it out https://github.com/stevennevins/dapptools.foundry

[2021-11-25 22:34] alcibiadeseth opened #168 "Forge use in github actions example"
I'd be useful to have a template for using forge to test in a github actions CI pipeline.

[2021-11-25 22:37] alcibiadeseth opened #169 "Collecting multiple test files"
Right now, if multiple test files exist in test/, forge only executes the first one.

[2021-11-25 22:41] alcibiadeseth opened #170 "Forge test only running tests every other invocation"
[code]

[2021-11-25 22:44] alcibiadeseth opened #171 "Build failing on master"
[code]

[2021-11-25 22:55] mattsse commented on #171
This is probably due to #613 on ethers-rs, however building foundry should still succeed if you  have the same lockfile as currently on master as this is still pinned to #8a3ee415b73805e0d66c7ba39efca75d5debd91b
can you check wether the Cargo.lock file is consistent with master?

[2021-11-25 22:58] mattsse commented on #170
this is likely an ethers-solc caching issue, this has come up but not yet pinned down, if you could share what `tree -d contracts` looks like, that be helpful.

[2021-11-25 22:59] transmissions11 commented on #171
build with`--locked` and try again

[2021-11-25 23:00] alcibiadeseth commented on #171
That works, we should update the readme.

[2021-11-25 23:01] mattsse commented on #169
this is with `forge test`, right?
expected behavior would be to execute everything under test

[2021-11-25 23:02] alcibiadeseth commented on #170
[code]

[2021-11-25 23:03] alcibiadeseth commented on #170
This seems resolved after installing with `--locked`.

[2021-11-25 23:04] alcibiadeseth commented on #170
Hmm, never mind, still seeing this.

[2021-11-25 23:05] alcibiadeseth commented on #169
Correct, it is only executing one file, and interestingly, that file changes on repeated invocations.

[2021-11-25 23:06] alcibiadeseth commented on #169
[code]

[2021-11-25 23:06] alcibiadeseth commented on #169
I should add, this is on an M1 processor, if that would matter.

[2021-11-25 23:07] alcibiadeseth commented on #169
I see this with only one file:

[code]

[2021-11-25 23:19] mattsse commented on #170
thanks, It looks like all contract artifacts are generated correctly into `out`, right?
but only `test/ContractTest` is executed?

[2021-11-25 23:37] RatanRSur commented on #171
Hmm, I added locked and since I'm seeing this, I'm assuming it doesn't work on apple silicon?
[code]

[2021-11-25 23:58] mattsse commented on #171
this looks like an openssl issue within the `git2` crate.
Could be a problem with your local openssl lib, maybe apple silicon related but it should be supported.
do have openssl installed with brew?

In any case, #172 should compile successfully, you could check out that branch, remove the lock file, and try installing locally.

[2021-11-26 00:09] RatanRSur commented on #171
My rustup installation was x86 /facepalm

[2021-11-26 10:56] odyslam commented on #168
Hey @alcibiadeseth,

It should be very similar to this: https://github.com/gakonst/dapptools-template/blob/master/.github/workflows/ci.yml , but instead of the build steps for `dapptools`, I would use `cargo install` to install this project.

[2021-11-26 12:09] gakonst commented on #171
Closing, hopefully #173 provides enough context

[2021-11-26 12:09] #171 closed

[2021-11-26 12:10] gakonst commented on #169
Can you share the repo which causes this? I'll try to repro locally

[2021-11-26 12:12] gakonst commented on #168
Yeah it'd basically be:
[code]

[2021-11-26 12:12] #168 closed

[2021-11-26 13:05] gakonst commented on #170
Maybe addressed in https://github.com/gakonst/ethers-rs/pull/623, will try it out

[2021-11-27 05:24] byterose commented on #123
@stevennevins looks good, ty :)

[2021-11-27 19:06] odyslam commented on #129
Fixed with https://github.com/roynalnaruto/svm-rs/pull/5

[2021-11-27 19:06] #129 closed

[2021-11-28 17:05] gakonst commented on #170
I think this should be fixed since updating to [latest ethers master](https://github.com/gakonst/foundry/commit/831cc387568de15b0b47df05b01e0d54b305b2c5) and fixing the compilation bugs upstream https://github.com/gakonst/ethers-rs/pull/623, https://github.com/gakonst/ethers-rs/pull/629, https://github.com/gakonst/ethers-rs/pull/630.

Closing optimistically, feel free to re-open if still an issue.

[2021-11-28 17:05] #170 closed

[2021-11-28 17:06] gakonst commented on #169
I think same fix from #170 applies to here, closing but please re-open if still an issue on latest master. Please also try sharing a repo which reproduces the issue, so we can debug it!

[2021-11-28 17:06] #169 closed

[2021-11-29 08:57] gakonst commented on #98
will be closed in #164

[2021-11-29 12:14] mattsse opened #185 "Add a solidity formatter"
Ideally, this should be a subcommand like `forge fmt <Options...>`

Rules and settings should be on par with https://github.com/prettier-solidity/prettier-plugin-solidity

#176 contains a basic design skeleton for how this could look like.

Like `prettier-solidity`, we'd parse the AST (with [`solang`](https://github.com/hyperledger-labs/solang/tree/main/src/parser)'s parser) then convert all nodes

[2021-11-29 15:10] gakonst commented on #123
made it here https://github.com/gakonst/forge-template

[2021-11-29 15:10] #123 closed

[2021-11-29 18:36] jparklev opened #188 "Tests aren't recompiled when one of their imports changes"
# The Problem

When running tests using `forge test`, an update to the contracts imported by the tests doesn't trigger recompilations for the tests. For example, if we have a test file `test.t.sol`:

[code]

Then we update the implementation of `lad.flip()` to return `321` rather than `123`, the tests still pass on the next `forge test` since the `test.t.sol` didn't recompile. Changing anything in

[2021-11-29 18:44] mattsse commented on #188
this is definitely an ethers-solc issue, and you're probably right with your diagnosis.
I assume the following is happening, during compilation we're mostly concerned with src contracts and not necessarily test contracts so that test files aren't properly checked for changes if the src contract is unchanged when we construct the dependency tree from the src contract's pov.

[2021-11-29 18:51] mattsse commented on #188
there were some ethers-solc changes yesterday that are already included on foundry master, so just to clarify this happens with the current master as well @jparklev ?

[2021-11-29 18:59] jparklev commented on #188
Actually I think i'm behind by a day or two, let me try with the latest @mattsse

[2021-11-29 19:53] jparklev commented on #188
Confirmed on the current master 👍

[2021-11-30 06:43] maxsam4 commented on #166
I feel like the overhead will not be worth it in most cases. Individual contracts are usually so small that invoking solc is going to consume more time than solc compiling them.

This feature would make more sense in solc itself but I won't put it on the priority list even there.

[2021-11-30 07:34] odyslam commented on #155
Coming back to this, after banging my head against the wall for a few hours, I think its impossible to export the env variables, as `source` et al. work for the subshell.

How about we use the `dotenv` crate, or simply parse the files?

[2021-11-30 08:01] #188 closed

[2021-11-30 08:01] gakonst commented on #188
fixed in https://github.com/gakonst/foundry/commit/0527eb95ce9c17101b434a0626ba3861836c0a9e / https://github.com/gakonst/ethers-rs/pull/634, closing optimistically, please re-open if still a problem

[2021-12-01 10:28] gakonst commented on #155
Parsing the files is a no-go because if there's any bash inside (eg an if/else) we wouldn't be able to process it.

Is there no way to export the vars to the parent shell?

[2021-12-01 10:34] odyslam commented on #155
@gakonst this was posted before our 1-1. Will explore https://github.com/sagiegurari/run_script and report back

[2021-12-01 17:35] odyslam commented on #185
Not sure if relevant here or it should be its own feature, but it would be very nice if the formatted could:
- Automatically remove testing libraries import statements
- Automatically remove any `emit log`/`console.log` statements
- Automatically remove anything marked by some specific comment statement (like hadolint, shellhint, etc.)

[2021-12-03 05:44] brockelmore opened #191 "Bad error message on compilation failure"
# Reproducing Bug
[code]

## Result
[code]

## Expected Result
Successful compilation - as occurs in regular dapptools

[2021-12-03 05:56] brockelmore commented on #191
Maybe because of library linking?

[2021-12-03 06:43] brockelmore commented on #24
Addressing in call tracing pr #192

[2021-12-03 17:35] gakonst commented on #191
Our error reporting in `ethers-solc` is a bit lacking, we can def do better there.

[2021-12-04 11:23] mattsse commented on #191
I tried running forge on spells repo and Hit another error that turned out to be an issue with a library placeholder `__` in the following byte code:

[code]

I'm wondering if we miss some libs for solc or this is intended?

[2021-12-04 12:03] gakonst commented on #191
I think we don't have library linking support?

[2021-12-04 12:18] mattsse commented on #191
no, but I believe this should be fairly easy to add, we already have the link references and offsets, so I guess `pub object: Bytes,` in the `ByteCode` object should be an enum (Bytecode, UnLinked) and expose some link functions, that simply inject the lib address at the offsets

[2021-12-08 20:09] tlancina opened #197 "Hardhat style console.logs don't work for uint"
From https://github.com/gakonst/foundry/blob/bab7e2d672bf9459645c01201b37e6fcfd257521/evm-adapters/src/sputnik/cheatcodes/cheatcode_handler.rs#L746 it looks like the method signature is always for `log(uint)`, but the abigen seems to only produce signatures for `ethers::core::types::U256`.

If you need more information let me know, you can easily repro by adding a `console.log` with any uint value

[2021-12-08 20:45] mattsse commented on #197
nice catch,
so what's happening under the is that abigen! takes the console.log json https://github.com/gakonst/foundry/blob/master/evm-adapters/testdata/console.json and generates Binding for all those calls
However the type for `p0` of `function log(uint p0)` is actually `uint256` the the json (format it then line 8762):

[code]

however the function uses `log(uint)` when sending the payload and

[2021-12-08 23:12] tlancina commented on #197
Ah ok, thanks for the explanation! What are your thoughts on changing `console.sol` to explicitly match the generated ABI like:

[code]

The only things I could think of were if they aren't always equivalent or if the upstream Hardhat file changes it's more annoying to track/maintain.

In the meantime I'll take a look at the abigen! `proc_macro` stuff (I don't know Rust, but this has been an enjoy

[2021-12-08 23:26] mattsse commented on #197
that's the point against it, lets simply support more functions instead of editing the ABI which might cause problems down the line.

This is basically how the EthCall macro works:

https://github.com/gakonst/ethers-rs/blob/0b1f3b1dcfcd4a16d455af7850c75b29d366cf22/ethers-contract/tests/common/derive.rs#L432-L438

So what we should do here is:
1. add two more structs that derive EthCall (`LogUint`

[2021-12-09 06:30] laizy opened #198 "rebuild is 4x+ slower caused by non buffered file reading"
[code]

[code]

[2021-12-09 06:44] laizy opened #199 "support run command in sub dir."
Currently, `forge build/test` can only be invoked at project's root dir.

[2021-12-09 17:48] mattsse commented on #198
vote close @gakonst

[2021-12-09 18:05] #198 closed

[2021-12-10 01:04] roynalnaruto opened #202 "EVM Version not configured appropriately"
When building a project, the "london" evm version is never set, since ethers-solc [by default](https://github.com/gakonst/ethers-rs/blob/master/ethers-solc/src/artifacts.rs#L188) uses the "istanbul" evm version.

The `ethers_solc::Project` instantiation from build opts also does not configure the evm version (check [here](https://github.com/gakonst/foundry/blob/master/cli/src/forge_opts.rs#L277-L2

[2021-12-10 04:37] tlancina commented on #197
When viewing the expanded output, I can see that despite `#[ethcall(name = "log", abi = "log(uint)")]`, the signature is still `log(uint256)`:

[code]

It seems to come down to [ethers-core/src/abi/human_readable.rs#L333](https://github.com/gakonst/ethers-rs/blob/59cf9918289012d9235e70da40f8d93c1f9ff692/ethers-core/src/abi/human_readable.rs#L333) returning a Uint(256) for "uint": [ethabi/src/param

[2021-12-10 04:48] mattsse commented on #197
ah interesting, I guess that makes sense since `unit` really is `uint256`.

Then we have to implement this by hand, which is fine.
This looks great and is basically it already! would you like to open a PR with that, we basically need:

- [ ] Manual EthCall implementation for `LogUint` + `LogInt`, as you did already
- [ ] add additional decoding checks to where we already try to decode `ConsoleCall

[2021-12-10 06:06] tlancina commented on #197
Ah I didn't even think to copy the expanded output, I think the `cargo expand` [disclaimer](https://github.com/dtolnay/cargo-expand#disclaimer) made me wary.

Sounds good! I'll open a PR when I get a chance.

[2021-12-10 17:22] #202 closed

[2021-12-10 21:10] gakonst commented on #199
closed in #200

[2021-12-10 21:10] #199 closed

[2021-12-11 11:22] moodmosaic opened #209 "solc auto-detect not working as expected"
*Φοβερή δουλειά! Great job!*

It looks like `forge`'s solc auto-detect not working as expected(?)

I just run

[code]

followed by

[code]

then

[code]

then replaced what's inside `src/Contract.sol` with the following (notice `^0.4.0`)

[code]

and then on purpose I declared `get()` as `view` which I would expect to break with `^0.4.0`

[code]

run

[code]

and got `success.` instead of a compil

[2021-12-11 11:28] mattsse commented on #209
can you try running with `RUST_LOG=ethers=trace` this should show you the solc being used.

Auto-detection is based on semver, and `^4.0.0` allows everything from 4.0.0 to <5.0.0.

So solc will try to find a compatible, already downloaded, solc install

It seems like that this doesn't necessary hold for solc though

[2021-12-11 11:30] moodmosaic commented on #209
@mattsse, thanks for the quick response. Here's the output:

[code]

[2021-12-11 11:31] moodmosaic commented on #209
Hmm... I guess it'll favor the solc used in the test(s)?

[2021-12-11 11:39] mattsse commented on #209
yes, `forge test` only deploys contracts with `test*` functions.
And it seems your `test/Contract.t.sol` allows 0.8.10?

There are currently some limitations when it comes to dependency graphs, so if you could share the imports and pragma of `test/Contract.t.sol`, that'd be helpful.

[2021-12-11 11:46] moodmosaic commented on #209
[code]

Something tells me that `view` simply exists in `0.4.26` (which is the one that's picked up by forge as per the above output).

[2021-12-11 11:52] moodmosaic commented on #209
Yes! If I specify `pragma solidity 0.4.0;` then indeed it fails:

[code]

---

It'd be nice if we could get the actual compiler error/output from `forge build` but I guess that's for a separate issue:

[code]

Expected output:

[code]

Actual output:

[code]

[2021-12-11 11:53] mattsse commented on #209
any chance you built with hardhat in the meantime?

[2021-12-11 11:54] moodmosaic commented on #209
Sure.

However, on the expected/actual solc output above, do you think I should open an issue?

[2021-12-11 11:56] mattsse commented on #209
I think the root problem is, that solc not necessarily abide to semver rules.
perhaps our auto detection is too optimistic in some scenarios, we're using https://github.com/roynalnaruto/svm-rs so you can also install `svm install "0.4.0"` manually which should then be picked up

[2021-12-11 11:59] moodmosaic commented on #209
I think I finally got `forge build` to error out, it's just that the error isn't the actual solc compiler output/error:

Expected output:

[code]

Actual output:

[code]

Ping me and I'll make an issue for it. Closing this one for now.

[2021-12-11 11:59] #209 closed

[2021-12-11 11:59] mattsse commented on #209
ethers-solc uses a different artifact format by default, but the same cache format, so this can happen, I think we should find a way around that

I think It's worth discussing if we want to follow always semver or if we need some additional checks, +1

[2021-12-11 14:47] lucas-manuel commented on #191
I'm getting this error in https://github.com/maple-labs/proxy-factory repo on the main branch:

[code]

[2021-12-11 15:49] gakonst commented on #191
Can you try "forge test --contracts ./contracts"?

[2021-12-12 02:11] 0xrebased opened #214 "Solidity Error keyword not compatible with Foundry."
Dec 11 18:10:36.087 ERROR forge: error=unknown variant `error`, expected one of `constructor`, `function`, `event`, `fallback`, `receive` at line 1 column 246
Error: unknown variant `error`, expected one of `constructor`, `function`, `event`, `fallback`, `receive` at line 1 column 246

Location:
    /rustc/59eed8a2aac0230a8b53e89d4e99d55912ba6b35/library/core/src/result.rs:1915:27

![image](https:

[2021-12-12 02:12] 0xrebased commented on #214
Note aside: Error message stating what solidity file the issue is in would be nice!

Cheers
-b

[2021-12-12 02:16] 0xrebased commented on #214
Edit: Appears that the error keyword is completely incompatible with foundry.

[2021-12-12 11:18] mattsse commented on #214
error support was in ethabi was merged yesterday https://github.com/rust-ethereum/ethabi/pull/251
I think we can perhaps patch that for the time being

[2021-12-12 17:56] rhacker opened #216 "Windows support for forge"
Do you have plan to suport windows for forge? Thanks, this is the error message I got while trying to install forge.
[code]

rust environment info:
[code]

[2021-12-12 22:27] gakonst commented on #216
Yes, 100%. We're on it https://github.com/roynalnaruto/svm-rs/pull/9

[2021-12-12 22:40] gakonst commented on #214
Pinged the maintainers to release https://github.com/rust-ethereum/ethabi/issues/252

[2021-12-13 00:07] gakonst commented on #191
OK I tested this locally and it "works" i.e. it produces the json artifacts, but now it does not run the tests for spells-mainnet.

Sinc the building issue is now solved, I'll close this and we can track the testing issue separately.

[2021-12-13 00:07] #191 closed

[2021-12-13 00:41] 0xrebased commented on #214
Awesome, thanks to both of you!

[2021-12-13 03:30] gakonst opened #221 "Improve node-modules auto-detection"
As found by @reem https://github.com/reem/forge-node-modules-repro, we currently do not nicely auto-detect the node modules folder or the remappings. It could make sense for us to "guide" the searcher in some way, because otherwise scanning through the node_modules/ directory takes too long.

[2021-12-13 03:34] gakonst opened #222 "Support library linking"
If we want to support dss' [spells-mainnet](https://github.com/makerdao/spells-mainnet), we'll need to support lib linking.

# Problem
1. We call into_inner here: https://github.com/gakonst/foundry/blob/master/forge/src/multi_runner.rs#L61
2. Then we call `into_bytes`: and then https://github.com/gakonst/ethers-rs/blob/4c677933ce4407fb1307f9077aefc31b9e811cdb/ethers-solc/src/config.rs#L260
3. But

[2021-12-13 04:04] rhacker commented on #216
super, thanks a lot mate :) Cannot wait to work with faster tool.

[2021-12-13 08:23] mattsse commented on #221
currently, if node_modules is set as library location we recursively check all lib folders for remappings in `Remapping::findmany`,
we could either put some restrictions in place for `find_many` (depth 2 for example would look for `node_modules/<depth 1>/remappings.txt`) or blacklist node_modules entirely by default

[2021-12-13 19:22] #98 closed

[2021-12-13 21:54] brockelmore opened #225 "State doesn't reset correctly in between test contracts"
run multiple contract tests: https://github.com/gakonst/foundry/blob/e0d6fff9bd51b4bf769d001f854b19805c150c00/forge/src/multi_runner.rs#L136-L144

set init_state: https://github.com/gakonst/foundry/blob/e0d6fff9bd51b4bf769d001f854b19805c150c00/forge/src/runner.rs#L111

reset state before each test: https://github.com/gakonst/foundry/blob/e0d6fff9bd51b4bf769d001f854b19805c150c00/forge/src/runner.rs

[2021-12-13 23:13] mattsse opened #227 "Make Regex pattern optional for tests"
Currently the `pattern` argument is by default an all matching regex

https://github.com/gakonst/foundry/blob/e1b44087fa4dc2ad74371eb5b217d83b55608c47/cli/src/cmd/test.rs#L34-L40

this gets passed down to the test runners who use it filter test by names, this could be made an option instead.

perhaps the testrunner could instead accept something like `impl Into<Filter>`

[code]

[2021-12-14 00:08] jparklev commented on #227
Not sure how idiosyncratic it is, but i'd also find it helpful to set a regex that filters tests _out_. My use case is filtering mainnet fork test out when running local-only tests (rn i'm prefixing those tests with `testMainnet**`, which I can negative match already, but it's not the nicest)

[2021-12-14 01:23] alcibiadeseth opened #228 "Feature request for example usage and install in github workflow with caching"
I setup a workflow like so:

[code]

However, this takes far to long to run. It would be nice to have an example of directly pulling the binary artifact for use in a github workflow.

[2021-12-14 01:24] alcibiadeseth commented on #228
By far too long, I mean 7-11 minutes.

[2021-12-14 01:42] jparklev commented on #228
Would something like this work for you @alcibiadeseth? https://github.com/gakonst/forge-benchmarks/blob/master/.github/workflows/ci.yml

[2021-12-14 01:44] alcibiadeseth commented on #228
Yes, something like caching with that method would work.

[2021-12-14 05:20] #132 closed

[2021-12-14 06:45] gakonst commented on #227
I'd be supportive of making the regex more expressive, another idea would be to regex on contract names as well (instead of just function names).

[2021-12-14 06:46] gakonst commented on #228
You should not need to use svm as it'll get downloaded internally and it'll auto-detect the solc version!

Here's an example: https://github.com/gakonst/forge-template/tree/master/.github/workflows/ci.yml

[2021-12-14 06:46] gakonst commented on #227
I'd be supportive of making the regex more expressive, another idea would be to regex on contract names as well (instead of just function names).

[2021-12-14 06:46] gakonst commented on #228
You should not need to use svm as it'll get downloaded internally and it'll auto-detect the solc version!

Here's an example: https://github.com/gakonst/forge-template/tree/master/.github/workflows/ci.yml

[2021-12-14 06:47] gakonst commented on #228
You should not need to use svm as it'll get downloaded internally and it'll auto-detect the solc version!

Here's an example: https://github.com/gakonst/forge-template/tree/master/.github/workflows/ci.yml

[2021-12-14 06:48] gakonst commented on #228
You should not need to use svm as it'll get downloaded internally and it'll auto-detect the solc version!

Here's an example: https://github.com/gakonst/forge-template/tree/master/.github/workflows/ci.yml

[2021-12-14 06:49] gakonst commented on #228
You should not need to use svm as it'll get downloaded internally and it'll auto-detect the solc version!

Here's an example: https://github.com/gakonst/forge-template/tree/master/.github/workflows/ci.yml

[2021-12-14 19:15] nikitastupin opened #229 "Unable to compile `foundry` under Ubuntu 20.04"
Hey 👋

I tried to compile `foundry` under Ubuntu 20.04 but got the error:

[code]

I'm running Ubuntu VM under MacOS using https://github.com/canonical/multipass. It's a fresh instance. The command history:

[code]

Anyways, thanks for the project, it has a lot of potential!

[2021-12-14 19:25] brockelmore opened #230 "Feat: Solidity Repl"
Have seen a few requests for a solidity repl. This can be a tracking issue for the feature

Helpful things:
 - https://github.com/tintinweb/solidity-shell
 - https://github.com/raineorshine/solidity-repl

[2021-12-14 19:28] transmissions11 commented on #230
Omg would be so dope if it had all your contract abis loaded to go so you could do something like `ERC20 token new ERC20()` in the shell right away and just play around with it

[2021-12-14 19:57] mattsse commented on #230
some thoughts after skimming solidity-shell's codebase

it appears an appropriate approach to this could be:

1. run a repl like https://github.com/kkawakam/rustyline, see also https://github.com/kpcyrd/sn0int for an example implementation
2. listen for user input
   a. if it's a solidity statement, inject that into a template contract, compile and deploy that
   b. if it's some math expr, inject

[2021-12-14 19:59] transmissions11 commented on #230
Can we persist variables? That’d be a dream

[2021-12-14 20:09] mattsse commented on #230
totally, what I'm thinking is something like this:

[code]

then the actual repl would probably look something like:

[code]

[2021-12-14 23:07] moodysalem opened #231 "leave git alone in forge init"
don't like that it messes with my commits in an existing repo

[2021-12-14 23:24] alcibiadeseth commented on #228
Yup, that works well, just needs a `forge update` to pull the submodules.

[2021-12-14 23:24] #228 closed

[2021-12-14 23:31] mattsse commented on #231
I guess we should
- [ ] check instead if the target path is already inside a git,
- [ ] consider removing the auto "init commit" here and leave the files untracked instead
https://github.com/gakonst/foundry/blob/0bd43bcbdf54d3ff8b05bd051e7a29fab906b019/cli/src/forge.rs#L114-L120

[2021-12-15 02:01] gakonst commented on #231
Can maybe add a `--no-git` or `--no-commit` flag (open to ideas) so that it can be disabled? Or we disable it by default? I was just copying over the logic from dapptools.

[2021-12-15 02:02] gakonst commented on #225
Closing cautiously since #226 got merged, let's re-open with a test case if we find this to persist

[2021-12-15 02:02] #225 closed

[2021-12-15 03:07] 0xinugami opened #232 "import node_modules path error"
Command ran
`RUST_LOG=ethers=trace forge test --hardhat`

Code
`import { SafeMath } from "@openzeppelin/contracts/math/SafeMath.sol";`

Error
[code]

Seems like the path is not being parsed correctly. Should be `@openzeppelin/contracts/math/SafeMath.sol` and not `@openzeppelin/contracts/contracts/math/SafeMath.sol`.

Can I get some help please?

[2021-12-15 03:32] gakonst commented on #232
I believe the right way to import is `import { SafeMath } from "@openzeppelin/math/SafeMath.sol";`?

[2021-12-15 05:33] 0xinugami commented on #232
`@openzeppelin/math/SafeMath.sol` works for me. Thanks for helping. Going to require quite a few changes to migrate from hardhat and jest testing.

[2021-12-15 07:35] gakonst commented on #232
You can also declare remappings manually like so: openzeppelin/=lib/openzeppelin-contracts/

That way you won't need to change anything. Closing as the question is  answered.

[2021-12-15 07:35] #232 closed

[2021-12-15 15:21] odyslam commented on #86
[Forge template](https://github.com/gakonst/forge-template) now supports this!

[2021-12-15 15:23] odyslam opened #234 "`forge run`"
`forge run` would run a solidity file without having to set up a project for it. It would prob need work on the packaged libraries front, where a number of libraries are natively offered by forge (e.g ds-test, vm.sol, console.sol).

[2021-12-15 17:39] moodysalem commented on #231
imo disable by default, `npm init`, `create-react-app`, [`mvn archetype:generate`](https://maven.apache.org/guides/getting-started/maven-in-five-minutes.html#creating-a-project), etc. do not usually do stuff with commit history, although it seems like submodules are part of the dependency management strategy for this tool

you might want to be unopinionated on dependency management instead?

[2021-12-16 00:17] gakonst commented on #234
Could see this being `forge run Foo.sol` and it'd default to calling `run()` on the specified contract, or you'd do `forge run Foo.sol myFunction(uint256) 2` and it'd call `myFunction` with `2` as the argument.

[2021-12-16 01:45] transmissions11 commented on #234
i like option #2 @gakonst, maybe with a default of run()?

[2021-12-16 12:01] natachadelarosa commented on #229
Same error on macOS Monterey 12.0 with M1 chip

error: failed to compile `foundry-cli v0.1.0 (https://github.com/gakonst/foundry#5d38938b)`, intermediate artifacts can be found at `/var/folders/ym/vzm1n75s7gd4h58r_6jg6l880000gn/T/cargo-installOpN0sh`

Caused by:
  build failed

[2021-12-16 12:51] gakonst commented on #234
Yeah sorry that's what I meant, it'd be the latter with default to the former.

[2021-12-16 12:57] gakonst commented on #231
@transmissions11 over DMs:

[2021-12-16 16:48] jerry-best commented on #231
I'm generally in favor of defaulting to no git interaction, at least when inside an existing repo. I'm using forge inside a larger git repo, and at the moment I've resorted to deleting `.git` and `.gitmodules` after doing `forge init`, but then I have to `touch .git` just to get `forge test` to work when I want to run it.

I'm also subverting the use of submodules for the contents of `lib` and jus

[2021-12-16 23:21] mds1 opened #241 "feat: `foundry update` to easily switch between versions"
Behavior would be analogous to [duppgrade](https://github.com/Rari-Capital/duppgrade), such as:

- `foundry update` to install latest main in this repo
- `foundry update <tag/branch/commit>` to install specified commit in this repo
- `foundry update <repo-path>` to install latest main in specified repo
 `foundry update <repo-path>  <tag/branch/commit>` to install specified commit in specified repo

[2021-12-17 00:20] transmissions11 commented on #241
made an intermediate solution: https://github.com/transmissions11/forgeup

[2021-12-17 12:15] gakonst commented on #241
Forgeup now in the readme https://github.com/gakonst/foundry/commit/57733a4906bd7edd7f8469cd0ed890dcf7a14680

[2021-12-17 12:25] gakonst commented on #165
ref #234 since it'd benefit from the stdlib

[2021-12-17 12:25] gakonst commented on #234
ref [#234](https://github.com/gakonst/foundry/issues/165) since it'd benefit from stdlib

[2021-12-17 12:33] gakonst commented on #229
I wonder how much of these incompatibilities come from openssl/libssl and the libudev/libusb requirements that originate from ethers-rs...

[2021-12-17 14:51] brockelmore commented on #229
Have you followed some of the other guides out there for setting up cargo config on M1 chips? There are some target config options that need to be changed because of apple silicon that haven't been cleaned up by cargo team on install.

[2021-12-17 18:44] transmissions11 opened #247 "feat(prank): startPrank/stopPrank"
would be dope to have a start and stop prank cheatcode that would allow impersonating an account over multiple txs so users won't have to repeat themselves before each

[2021-12-17 18:52] brockelmore commented on #247
The only difficult part here is making it such that internal calls of the first call don't inherit the wrong msg.sender as well. Should the test contract basically *always* be that new address? i.e. Test::test -> other::something -> Test::otherFunc -> other::something2

should the Test::otherFunc -> other::something2 call also be pranked?

[2021-12-17 19:21] mattsse commented on #214
this should be fixed now, since #238
vot close

[2021-12-17 19:24] mattsse commented on #231
I'd also lean in favor of not committing in `forge init` since it's not necessary because you can also recreate that state with forge init again.

[2021-12-17 19:39] #214 closed

[2021-12-17 19:46] 0xrebased commented on #214
thanks @mattsse

[2021-12-17 20:08] gakonst commented on #247
I'd only go for the first call's level, and not for every subsequent internal call

[2021-12-17 20:10] exp-table opened #249 "Initial address incompatibility"
I noticed that the sequence of addresses assigned to contracts deployed in any test is not identical to the one produced by dapptools.

In my case, it breaks a particular case where I generate a merkle tree with the addresses of custom `User` contracts. Their respectives proofs are hardcoded. Thus, the proofs ingested by some functions are therefore invalid.

@brockelmore and @gakonst suggested th

[2021-12-17 20:17] mds1 commented on #249
If I'm understanding this issue correctly, then @gakonst we saw this a while back when you tried to verify foundry against the Drai repo, since there's a hardcoded address validation test [here](https://github.com/mds1/drai/blob/f31ce4fb15bbb06c94eefea2a3a43384c75b95cf/src/Drai.t.sol#L73-L76). That test passes on dapptools but failed against foundry, so it might be another useful reference to test

[2021-12-17 20:20] gakonst commented on #249
Yep, same issue @mds1

[2021-12-17 21:13] brockelmore commented on #249
does anyone know the dapptools initial address? easiest to just match that as default to maintain max compatibility

[2021-12-17 21:14] #247 closed

[2021-12-17 21:36] transmissions11 commented on #249
It's in the hevm README I'll dig it up in a sec

[2021-12-17 22:32] brockelmore commented on #249
looks like its `0x00a329c0648769a73afac7f9381e08fb43dbea72`

[2021-12-17 22:45] byterose commented on #249
@exp-table Interested to see how you use dapp.tools to test a merkle tree. Could you share the repo?

[2021-12-17 22:47] transmissions11 commented on #249
yup https://github.com/dapphub/dapptools/tree/master/src/hevm#environment-variables

[2021-12-17 22:48] brockelmore commented on #249
ah interesting issue here: i think the real issue is the address of the *test* contract, not the sender. See [here](https://github.com/dapphub/dapptools/tree/master/src/hevm#environment-variables). I tried on @exp-table's repo setting the sender variable to the above, and it still failed.

The hard part is that we support *multiple* test contracts. Which is the right thing to do for parallelizing

[2021-12-17 23:02] brockelmore opened #253 "`forge`'s `DAPP_TEST_ADDRESS` == `dapp`'s `DAPP_TEST_CALLER`"
Related to #249, `forge`'s `DAPP_TEST_ADDRESS` is really `dapp`'s `DAPP_TEST_ORIGIN`/`DAPP_TEST_CALLER`. `dapp`'s `DAPP_TEST_ADDRESS` is the address of the *test contract* not the caller.

Likely the fix for #249 should include this fix as well

[2021-12-18 15:46] wighawag opened #254 "unexpected character error"
executing this:

`forge build --lib-paths node_modules`

I get

[code]

I perform the operation in this repo : https://github.com/wighawag/jolly-roger

in the `contracts` folder

This folder contains a dapptools setup and `dapp test` run fine there

[2021-12-18 16:15] mds1 opened #255 "feat: add a `block.basefee` cheat code to forge"
Right now the only way to test different base fees is to have a base fee getter method in your contract, then have a dedicated test contract that lets you override the base fee.

A cheatcode can remove the need for this, and should behave similarly to `warp` and `roll` in that it's persistent until called again

[code]

[2021-12-18 16:25] mattsse commented on #254
Thanks for this, this will help us improve hardhat support.

couple things are happening here:

1. if no `--root` path is provided then forge chooses the git root over the current dir, perhaps that can be counterintuitive? ad `--root .` to make the nested `contracts` dir the root
2. hardhat remappings are currently not auto-detected properly, so you'd need to provide them as `--remappings hardhat/

[2021-12-18 16:26] mds1 opened #256 "fix: `forge test` should not default to using `ETH_RPC_URL`"
Right now if you run `forge test` and have `ETH_RPC_URL` set globally, forge will pick that up and run tests against that RPC URL, even though my test command did not specify to fork.

https://github.com/gakonst/foundry/blob/11d87038f972b890ed450846c8755a35e39d8182/cli/src/utils.rs#L46-L50

Ensuring `ETH_RPC_URL` is always defined on your machine is useful for `seth` and `cast`, but that should no

[2021-12-18 17:11] gakonst commented on #254
Maybe we can make the --hardhat be an alias for the commands line args above?

[2021-12-18 18:31] gakonst commented on #231
closed in #252

[2021-12-18 18:31] #231 closed

[2021-12-18 18:38] #256 closed

[2021-12-18 18:59] wighawag commented on #254
Thanks @mattsse and @gakonst for your quick replies.

I ll try these suggestion. notice the dapprc file here : https://github.com/wighawag/jolly-roger/blob/main/contracts/.dapprc

I think a config file would be great for foundry/forge but it would also be cool if supported dapprc as fallback (though I am not sure I really need that long term)

[2021-12-18 23:53] wilsoncusack opened #259 "Consider adding features to support deploying several contracts from a file"
A common hardhat workflow of mine is to have a deploy script, which can be quite complex. Sometimes I am working on a project that requires deploying several contracts, with the deployed address of one being an input to another. Other times, it is not just deploying, but making calls to these contracts after deploying them, to seed a certain state for some client testing I might be doing.

Current

[2021-12-19 00:02] wilsoncusack commented on #259
The solution here might just be a Rust lib for convenience methods for deploying / making contract calls? I assuming that is already covered in what Foundry has right now, so maybe just a matter of putting an example together?

[2021-12-19 15:11] mattsse commented on #221
vote close,

@reem take a look at #263, should work now and much! faster

[2021-12-19 15:21] #221 closed

[2021-12-19 15:25] gakonst commented on #259
You could use ethers' [`ContractFactory`](https://docs.rs/ethers/latest/ethers/contract/struct.ContractFactory.html)!

[2021-12-19 16:57] laizy commented on #165
1. From a contract developer's view, those are just some utility contracts provided by a test framework, used for testing and debug. So I prefer use `import ‘forge/Vm.sol` to `import ‘std/Vm.sol`.
2. It will cause IDE autocomplete not working, so I prefer generating those files in `lib/forge` dir when calling `forge init`, or at least providing a subcomand to generate those files.

[2021-12-19 18:15] #255 closed

[2021-12-19 18:23] gakonst commented on #254
There's a `--hh` command available now in master, can you try with that? Also until we have full support for loading env vars from a config file, you can always do `. .dapprc && forge test`

[2021-12-19 20:22] wighawag commented on #254
Nice! `forge test --hh --root .`  works like a charm
Thanks

[2021-12-19 20:22] #254 closed

[2021-12-19 20:29] gakonst commented on #254
Was the `--root .` needed?

[2021-12-19 20:37] #229 closed

[2021-12-19 20:40] mattsse commented on #254
We currently prioritize the git root over the working dir

https://github.com/gakonst/foundry/blob/2bd51d633d90d4599994ccbd96bb8676b68ea185/cli/src/cmd/build.rs#L153

so in order to runt forge in

[code]

the root option is needed to set root to `contracts`, but I wonder if we should default to cwd instead?

[2021-12-19 20:54] gakonst commented on #254
Hmm this is rough. The reason why we prioritize the git root is that if you're in a subdirectory (e.g. under `src/`) you still want to be able to do `forge test` and have the tests run. If we had `forge.toml` we could find the project root that way, so let's keep the behavior as-is and use the path of the forge.toml (when we add it) as the repo root.

[2021-12-20 01:40] wilsoncusack commented on #259
nice! this looks great.

[2021-12-20 01:40] #259 closed

[2021-12-20 02:25] wilsoncusack opened #267 "Default to use SOLC_PATH, then SVM, then solc"
Re discussion in Telegram <img width="459" alt="Screen Shot 2021-12-19 at 8 22 42 PM" src="https://user-images.githubusercontent.com/6678357/146702764-1f537375-a6ab-488b-98d6-0ff4384f5b03.png">

Currently in order to run offline, passing `--no-auto-detect`, you have to have solc installed. Forge should probably prefer to use svm, which is installed with Forge, or else use SOLC_PATH as a first reso

[2021-12-20 02:51] wilsoncusack opened #268 "Improve error messages if you forget `setup` function in test contract"
[code]
This code produces this error message.
<img width="683" alt="Screen Shot 2021-12-19 at 8 49 41 PM" src="https://user-images.githubusercontent.com/6678357/146704826-fb1ce48b-54ff-4294-bb10-60f398d79545.png">

Possibly could have a special parsing for test contracts to make sure they implement `setup`

[2021-12-20 02:54] wilsoncusack opened #269 "Print revert message for fuzzed tests"
Currently, non-fuzzed tests correctly print the revert message, but fuzzed tests do not.

[code]
<img width="783" alt="Screen Shot 2021-12-19 at 8 53 19 PM" src="https://user-images.githubusercontent.com/6678357/146705120-357ca0a7-045b-4ec6-b10c-c90812fe211a.png">

[2021-12-20 02:56] wilsoncusack commented on #268
Or maybe some error if a contract is at address(0)? Not actually sure how the compiler sees it, without the setup

[2021-12-20 03:00] wilsoncusack opened #270 "expectRevert does not fail test if no contract call is made"
If no contract call is made after calling `expectRevert`, the test passes, which does not seem like correct expected behavior.

[code]

[2021-12-20 03:42] brockelmore commented on #268
This is failing because you never create the foo contract, not that there isn't a setup call

[2021-12-20 03:48] brockelmore commented on #270
Nice catch. Easiest fix is probably in `run_test` in `runner.rs` is to check after calling the test if there is a remaining `expected_revert` in `self.evm.state()` I believe.

[2021-12-20 09:05] mattsse commented on #267
thanks,
this has been merged already https://github.com/gakonst/ethers-rs/pull/709

[2021-12-20 09:38] quambene opened #272 "Release on crates.io missing"
Is there a specific reason that foundry is not published on crates.io yet (https://doc.rust-lang.org/cargo/reference/publishing.html)? Would be great for visibility.

[2021-12-20 12:02] wilsoncusack commented on #268
Hi, thanks yes I understand why it's happening 😀. Sorry if that wasn't clear.

Just thought, given how key `setup` is to the way the testing works, and that I expect this to be a somewhat common error for n00bs, it might be worth a better error message. But maybe not worth deviating from standard Solidity behavior/errors.

[2021-12-20 12:02] #267 closed

[2021-12-20 12:54] gakonst commented on #270
Yeah check `if self.evm.state().expected_revert.is_some()` after the test has ended, and return error if it's `Some`.

[2021-12-20 12:57] gakonst commented on #268
@brockelmore I guess one option is that we could throw an error if there's no constructor and `setUp` function present?

Alternatively, this is basic enough that we can solve it with a note in our documentation?

[2021-12-20 14:02] transmissions11 commented on #270
lemme give fixing this a shot

[2021-12-20 15:13] nikitastupin commented on #229
Hi @gakonst,

Thank you for the fix! I tried to build it once again but now it crashes earlier while building `trezor-client` with for the same reason `signal: 9, SIGKILL: kill`.

[code]

[code]

[code]

[2021-12-20 17:02] brockelmore commented on #249
Work around for anyone stumbling upon this and needs a short term fix:
[code]

use the `startPrank` cheatcode in your setup function prior to deploying any subsequent contracts. This may be the preferred long term solution

[2021-12-20 17:12] wilsoncusack commented on #270
wanted to give a try as well, just to learn, put an attempt up here - https://github.com/gakonst/foundry/pull/274.

[2021-12-20 20:09] mattsse commented on #272
rn foundry relies on the latest master of [ether-rs](https://github.com/gakonst/ethers-rs) especially for all solc related features, since there are quite a few changes.
expect this to be available on crates, once ethers-solc is more stabilized and battle tested.

[2021-12-20 20:22] mattsse opened #275 "Tracking issue meaningful error messages"
This is a tracking issue to add more meaningful messages for certain errors

- [x] `No such file ...`
   - [x] check if the cwd deviates from the root and display hint to add the `--root .`
- [ ] add file info when `Missing pragma from solidity file`
- [ ] explain incompatible versions in autodetection

...

[2021-12-20 20:59] mattsse commented on #197
Since hardhat's selectors are a bit odd, I guess we can simply patch them before trying to decode the calls:

This is a map `hardhat selector(unit,int) -> selector(uint256,int256)`

[code]

[2021-12-20 21:10] gakonst commented on #197
I'm OK with doing the above approach, as long as we have a note linking to this issue

[2021-12-20 21:26] quambene commented on #272
Thanks for clarifying. Feel free to close this issue or keep it open.

[2021-12-20 21:54] #270 closed

[2021-12-20 21:55] gakonst commented on #270
Shipped - ideally let's avoid duplication of work across issues! Thanks both!

[2021-12-20 21:57] wilsoncusack commented on #270
My bad! Sorry @transmissions11 just wanted to see if I could figure out, then kept getting fixes to make :)

[2021-12-20 22:42] #197 closed

[2021-12-20 23:13] gakonst commented on #216
Hey @rhacker can you give this another try on master? It should be working now. Closing optimistically.

[2021-12-20 23:13] #216 closed

[2021-12-20 23:14] gakonst commented on #229
@nikitastupin can you give this another try? We bumped trezor-client in the latest commit #277

[2021-12-20 23:44] gakonst commented on #67
- [x] trezor

[2021-12-21 00:20] gakonst commented on #229
Can you maybe try with higher memory on multipass? Sigkill is a weird error, I wonder if it's https://github.com/rust-lang/rust/issues/51309

[2021-12-21 00:33] gakonst commented on #229
OK so this works:

[code]

So it's indeed a memory issue.

[2021-12-21 03:14] rhacker commented on #216
@gakonst it works perfectly with windows-msvc toolchain 👍

For windows-gnu, there is a minor problem from ethers-contract-derive package, I think it's more related to the windows OS itself
[code]

This can be fix by override default build in Cargo.toml:
[code]

[2021-12-21 03:18] wilsoncusack commented on #269
@gakonst ideas on where to start poking here? Would be nice if I could first write a test case showing this fails.

[2021-12-21 03:25] wilsoncusack commented on #230
Would love to see gas cost printed after evaluation :)

[2021-12-21 08:13] sambacha commented on #155
why not use something like [direnv](https://github.com/direnv/direnv)

direnv is not loading the `.envrc` into the current shell. It's creating a new bash sub-process to load the stdlib (, direnvrc and .envrc, and only exports the environment diff back to the original shell. This allows direnv to record the environment changes accurately and also work with all sorts of shells and load whatever con

[2021-12-21 09:41] odyslam commented on #29
@gakonst let's make this a good first issue and rename it to cast.

[2021-12-21 10:07] odyslam commented on #155
@sambacha -- thanks for the ideas! Actually, that's what we ended up doing, but it became messier than we wanted, so we might not do it altogether and focus on:
- better opinionated zero-config approach
- deploy scripts with a new declarative language
- a native forge.toml

You can take a look at my pr in #190

[2021-12-21 11:25] nikitastupin commented on #229
Thank you very much! I should have guessed that SIGKILL may be a symptom of an out of memory issue.

I was able to build foundry. Now I'll give it a try 🚀

[2021-12-21 11:47] gakonst commented on #29
Checklist of implemented commands here: https://github.com/gakonst/foundry/blob/master/cast/README.md

[2021-12-21 12:03] gakonst commented on #29
Yes! These are small self-contained commands, so shouldn't require much. Take a look at the PRs linked in the OP for guidance. Also happy to review.

[2021-12-21 12:20] wilsoncusack commented on #268
Also, just got bitten that it has to be `setUp` not `setup` 😀

[2021-12-21 12:24] gakonst commented on #272
Closing to keep things clean, we're still rapidly iterating so not worth publishing yet, but it's in our plans.

[2021-12-21 12:24] #272 closed

[2021-12-21 13:08] joshieDo opened #280 "bug: payable functions are taking the balance from address(this) instead of the prank address"
Calling payable functions with pranks take the balance from `address(this)` instead of the prank address. The function still succeeds and `msg.value` and `msg.sender` are correct (same as prank address), but balances do not match after checking.
edit:
* also happens with `startPrank`
* passes successfully even if prank address has 0 balance

This fails and should pass.
[code]

Example contract, an

[2021-12-21 16:05] tansawit commented on #141
Is this still applicable? The codebase seemed to have changed a lot since the issue was open.

[2021-12-21 16:23] #280 closed

[2021-12-21 21:01] tarrencev opened #282 "logs not emitted on revert"
I'm not seeing logs emitted when running `forge test --verbosity 3` and hitting a `revert()`

[2021-12-21 22:06] alcibiadeseth opened #283 "Inconsistent remapping detection"
[code]

Given multiple folders structured as dapptools libraries in lib/, `forge` only detects some, and of those, names some incorrectly.

[2021-12-21 22:19] mattsse commented on #283
just to confirm, this happens with `master`?

[2021-12-21 22:25] alcibiadeseth commented on #283
I just pulled a fresh install with `cargo install --git https://github.com/gakonst/foundry --bin forge --locked` and can reproduce.

[2021-12-21 22:30] mattsse commented on #283
I see, could you attach `ls lib/**/*.sol`?

[2021-12-21 22:42] alcibiadeseth commented on #283
Sure, any openzeppelin interface works `lib/openzeppelin/interfaces/IERC1155.sol` for example.

[2021-12-21 22:51] alcibiadeseth commented on #283
Here are the [libraries](https://gateway.pinata.cloud/ipfs/QmUZ2cJWgMPrx1MQbX9BEbnWw5XUn5KJ4yaXPZdM5wXdS1).

[2021-12-21 23:03] mattsse commented on #283
Thanks,

oh ofc, I forgot to account for `interfaces` folders, guess I'll rewrite the remappings detection again. This turned out to be quite tricky actually, because we're trying to make this work with dapptools and node_modules deps a like.
By now I should have a better picture of possible edge cases to make this robust.

[2021-12-22 01:10] gakonst commented on #283
good catch - thank you @alcibiadeseth.

remappings detection that's robust across dir structures has indeed been tricky, hopefully we'll get to something robust soon..

[2021-12-22 03:45] alcibiadeseth commented on #283
Thanks, as always, guys. I'm always mind blown how quickly you guys respond to my QA issues :) cheers!

[2021-12-22 08:32] nikitastupin commented on #229
It is also successfully compiled on aarch64 Ubuntu 20.04 VM (multipass under Apple M1) 👍

[2021-12-22 15:29] rajivpo commented on #269
It looks like [`call_raw`](https://github.com/gakonst/foundry/blob/045fc35751d84591c79c453d8a76f3fd41aaf96a/evm-adapters/src/evmodin.rs#L124) returns the status code which is getting passed as the [`return_reason`](https://github.com/gakonst/foundry/blob/045fc35751d84591c79c453d8a76f3fd41aaf96a/evm-adapters/src/fuzz.rs#L80-L89).  In [`call`](https://github.com/gakonst/foundry/blob/045fc35751d84591

[2021-12-22 15:35] wilsoncusack commented on #282
for those looking to reproduce :)
[code]

[2021-12-22 16:02] wilsoncusack commented on #268
@gakonst should I close or is there a useful TODO here?

[2021-12-22 16:48] mds1 opened #286 "feat: `vm.assume` cheat code for discarding bad fuzz inputs"
Named after Hypothesis' [`assume`](https://hypothesis.readthedocs.io/en/latest/details.html#making-assumptions), this cheat code would let you mark fuzzer inputs as invalid. Invalid fuzz runs are not counted toward the number of executed runs, so new inputs would be generated and the test re-ran

Use cases:
- Ensure conditions on fuzzer inputs are met, such as "don't test the zero address" or "mak

[2021-12-22 17:55] Bapi-Reddy opened #287 "feat: `verify-contract`"
The etherscan feature verify-contract isn't implemented for forge compiled contracts. It is currently configured for `dapp` compiled output.  Also in `forge create` the verify tag isn't implemented or linked with existing `verify-contract` implementation

[2021-12-22 18:51] exp-table opened #288 "Array generated from library breaks `forge test`"
Using an array, here a bytes32 one, from a library makes `forge test` fails silently, not quite sure. It will simply output :
[code]

Here's a PoC to reproduce the bug.

[code]

[2021-12-22 21:03] cruzdanilo opened #290 "feature request: slither/crytic-compile support"
https://github.com/crytic/slither/issues/1007
https://github.com/crytic/crytic-compile/issues/230

[2021-12-22 22:53] wilsoncusack commented on #287
sounds like this is maybe a bug `verify-contract` ?

[2021-12-22 23:37] sambacha commented on #287
you could also upload to sourcify via ipfs://Qme7ECr3oXnVjPemmKJgUvKWhRvTwLoQ3t95NQiD1RMaxR and its verified if your deploying on mainnef

[2021-12-23 01:15] ravindranrahul commented on #29
Update: I'm working on this. I'm an absolute beginner, please allow me some time.

[2021-12-23 06:52] odyslam commented on #29
I have started working on this as well. Perhaps we can coordinate and not implement the same functionality.

I have opened a draft PR while I work on it #284 and I note what I work on. Perhaps you can do as well or write a reply there?

[2021-12-23 11:29] mattsse opened #291 "add foundry.toml configuration"
rn some settings can be configured via env vars (see dapp tools env vars, .dapprc)

to make migrating as painless as possible, there should be a `forge config {init, migrate}` command to create the default toml file or migrate from .dapprc (as much as possible, since .dapprc is a script, focus is on all key-value settings)

This will not be limited to critical settings, like endpoint etc, but shou

[2021-12-23 11:35] gakonst commented on #268
Yeah I think that's fine, and we can add in the docs if more ppl stumble in this.

[2021-12-23 11:35] #268 closed

[2021-12-23 11:42] gakonst commented on #288
This is because the `getArray()` function is `public` and as a result requires library linking. If you change it to `internal` (which will get it inlined) it works. Duplicate of #222

[2021-12-23 11:42] #288 closed

[2021-12-23 11:49] gakonst commented on #286
`prop_assume!` is part of the crate we use (proptest), so it might be a simple matter of calling it when the `vm.assume` call is made.

Need to think about how to implement this, because the cheatcode logic in `cheatcode_handler.rs` is very separate from the fuzzer logic in `fuzz.rs` in `evm-adapters`..

Extra info:
* https://github.com/AltSysrq/proptest/blob/bc2d867a7cd06060e0b565b72fce1d94cc2fe9

[2021-12-23 12:13] gakonst commented on #269
I'm on this^

[2021-12-23 12:55] #269 closed

[2021-12-23 19:21] #282 closed

[2021-12-23 20:23] brockelmore opened #296 "feat(forge): Revert messages in traces"
We should parse and print revert messages in a trace

[2021-12-23 23:57] crisgarner opened #299 "Forge Test cache"
If a test passes and the code of the contract is changed, the test keeps using a cache version not reflecting the changes. Current small fix is doing small changes to the test code to refresh the cache.

Seems like an issue related to ethers-solc

[2021-12-24 00:17] #296 closed

[2021-12-24 01:03] wilsoncusack opened #300 "Gas from traces does not match test gas"
<img width="280" alt="Screen Shot 2021-12-23 at 7 03 20 PM" src="https://user-images.githubusercontent.com/6678357/147303489-96f37491-0a48-4770-a2f0-ab420d6df050.png">
<img width="265" alt="Screen Shot 2021-12-23 at 7 03 29 PM" src="https://user-images.githubusercontent.com/6678357/147303497-fd578481-d304-4db1-93f2-a3a63f87a7df.png">

[2021-12-24 01:19] wilsoncusack commented on #300
<img width="506" alt="Screen Shot 2021-12-23 at 7 19 07 PM" src="https://user-images.githubusercontent.com/6678357/147304213-4a9de89b-b4a7-41c1-9921-3f4f507a238d.png">
FWIW this function shows as ~10k more expensive using hardhat-gas-reporter. Should maybe open a separate issue for this.

[2021-12-24 03:05] transmissions11 commented on #300
think the hardhat gas counter stuff is cuz of initial call gas and refund accounting?

[2021-12-24 12:58] odd-amphora opened #301 "forge: error=missing field `bytecode`"
We are trying to setup foundry to implement integration tests for the [juicebox](https://juicebox.money) v2 protocol ([repo](https://github.com/jbx-protocol/juice-contracts-v2)) – if you are curious, I am currently working off of the `infra/foundry` branch. After setting up the CLI and trying to build the contracts, I am left with this error. Any idea what could be causing this? Running with:

[co

[2021-12-24 14:50] odyslam commented on #301
I encountered the same error but I was unable to isolate it. Very interesting.

[2021-12-24 15:41] brockelmore commented on #165
Some ideas for what to include:
1. Vm interface
2. builtin errors as bytes, i.e. `bytes[] public arithmeticError = abi.encodeWithSignature("Panic(uint256)", 0x11)`, etc
3. `stdlib.find(target, sig, inputs)` -> find the slot of a variable
4. `stdlib.write(target, sig, inputs, value)` -> find the slot of a variable & write to it (see [HEVMHelpers](https://github.com/brockelmore/HEVMHelpers))

will c

[2021-12-24 16:05] odyslam commented on #165
It would be very cool to be able to dynamically remove all elements of this lib from the contracts. Basically to be able to add testing/helper functions all around the place and then be certain that you will not leave something behind when deploying.

For example, I have personally deployed contract with `ds-test` included and I was reading that in total the deployed `console.sol` has accumulated

[2021-12-24 16:10] odyslam opened #303 "Build error double print"
I think that `forge build` doesn't gracefully handle the error produced by `solc`. It should not produce a `forge` error and return stack trace, but rather surface the `solc` error and gracefully exit.

Using the latest version of forge.

![image](https://user-images.githubusercontent.com/13405632/147363905-103ca954-2e28-4a24-b2b6-b29b393253a9.png)

[2021-12-24 16:13] odyslam commented on #301
@odd-amphora Can you please verify with another tool that you are not encountering a "stack too deep" error?

[2021-12-24 16:39] brockelmore commented on #165
one cool hack i wanted a long time ago was being able to convert an internal function to public explicitly for a test. For example:
[code]

and somehow we would convert it into public for a test contract without affecting the actual contract. maybe a cheatcode that would fiddle with the AST and deploy the new version

[2021-12-24 16:43] odyslam commented on #165
@brockelmore This would be in place of having a "user" contract that inherits from that smart contract and exposes the function?

so, basically, we want part of the std lib tooling to have a flexible AST modifier implementation

[2021-12-24 16:44] brockelmore commented on #165
eh not sure, just throwing out ideas 🤷

[2021-12-24 17:17] odyslam opened #304 "`forge build` suppresses solc suggestion"
version: latest as of today

![telegram-cloud-photo-size-4-5922373204259747940-y](https://user-images.githubusercontent.com/13405632/147366566-395e9f2f-1ff8-43ef-9983-e29f21fa25ff.jpg)

[2021-12-25 00:15] mattsse commented on #301
I tracked this down to this function `JBETHPaymentTerminalStore.recordPaymentFrom`:

https://github.com/jbx-protocol/juice-contracts-v2/blob/f83ccef5d09fa541d49455e5bbe66d5323815812/contracts/JBETHPaymentTerminalStore.sol#L224

If you add the `--optimize` flag it should compile successfully:

`forge build --contracts ./contracts --remappings @chainlink/=node_modules/@chainlink/ @openzeppelin/=node

[2021-12-25 03:53] dimitri0101 commented on #299
Hello, I have seen too. Any idea for fix @gakonst ?

[2021-12-25 04:45] #301 closed

[2021-12-25 11:16] mattsse commented on #299
thanks @crisgarner @dimitri0101 for this, can you link me to a repo where I can reproduce this.

Is this a test contract that is stored outside of the `./contracts` or `./src` directory, in `./tests` maybe?

This is a contract in  `./contracts` or `./src`, right?

[2021-12-25 12:58] mattsse commented on #303
I believe this due to the eyre hook because we currently "panic" on erroneous solc output.
instead, we should, as you suggested exit gracefully with std::process::exit(1)

here
https://github.com/gakonst/foundry/blob/8c234f75937d7cd06f6101fc298fe36da369ca44/cli/src/forge.rs#L24

or here
https://github.com/gakonst/foundry/blob/8c234f75937d7cd06f6101fc298fe36da369ca44/cli/src/cmd/build.rs#L84-L97

i

[2021-12-25 16:23] #303 closed

[2021-12-25 20:16] drgorillamd commented on #301
the `--optimize` flag didn't fix it on my end (but I could successfully compile by saving one variable declaration / hardhat without optimization isn't complaining of the stack depth anymore).
Is it perhaps an unexpected result from optimize ? Should I open a new issue for this ?

[2021-12-25 22:04] wilsoncusack commented on #300
Ah ok. Have heard this a couple times but don't totally understand. Are you suggesting the hardhat gas is too high, compared to what you'd see on chain, and the forge is correct?

[2021-12-26 03:34] wilsoncusack opened #310 "expect emit"
In tests, be able to expect that an event is emitted with particular parameter values.

[2021-12-26 16:04] pyk opened #311 "`forge build` & `forge verify-contract` is not sync"
`forge verify-contract` expects `./out/dapp.sol.json` file, but `forge build` output another format `./ContractName.sol/ContractName.json`.

https://github.com/gakonst/foundry/blob/master/cli/src/utils.rs#L62-L66

[2021-12-26 17:02] brockelmore opened #312 "feat(forge): `forge flatten`"
Add an `flatten` command that would grab a contract and its dependencies and print to stdout. With the other issues around `verify-contract`, this would provide at the very least users the ability to get forge's best guess at what the compiler is doing with the standard-json input and allow a user to tweak and manually verify if needed. Also I imagine this will surface issues around `verify-contra

[2021-12-26 21:47] lucas-manuel commented on #165
Some more ideas:
- `erc20_mint` and other common `hevm.store` operations
- `constrictToRange` functions for fuzzing/symbolic execution
- [`startMeasuringGas/stopMeasuringGas`](https://github.com/Rari-Capital/solmate/blob/fab107565a51674f3a3b5bfdaacc67f6179b1a9b/src/test/utils/DSTestPlus.sol#L16) from Solmate

[2021-12-26 21:58] gakonst commented on #312
I think this is typically called `flatten`? Agreed otherwise that it can be useful.

[2021-12-26 22:18] lucas-manuel commented on #312
Yeah this would be analogous to `hevm flatten`

[2021-12-26 22:20] lucas-manuel commented on #222
Can be closed I believe now @gakonst

[2021-12-26 22:22] lucas-manuel commented on #166
I tend to agree that it would be cool but could be more trouble than it is worth, especially if we have compilation caching etc.

[2021-12-26 22:24] lucas-manuel commented on #137
Whats left on this? Table formatting?

[2021-12-26 22:25] lucas-manuel commented on #100
Should we close this? Also what is the status with dapptools-rs/dapptools.rs? Should we deprecate both?

[2021-12-26 22:26] lucas-manuel commented on #20
Whats the status here? Should we close/update for foundry?

[2021-12-26 22:27] lucas-manuel commented on #24
I think this can be closed now since @brockelmore's PR right @gakonst?

[2021-12-26 22:36] wilsoncusack commented on #137
I don't think any of this is done except gas for fuzzed tests?

[2021-12-26 22:37] #24 closed

[2021-12-26 22:38] gakonst commented on #20
We don't have releases yet, so we keep open I think

[2021-12-27 00:49] mds1 commented on #137
This one is arguably implemented as you can see gas usage by function in traces, as in https://github.com/gakonst/foundry/pull/192#issuecomment-1000440045, but a report/snapshots showing this would be nice to have

Also I think flamegraphs should be added to this list, below is Tenderly's for reference

![image](https://user-images.githubusercontent.com/17163988/147424000-a7d73a5a-5d9a-4d10-8e57-4

[2021-12-27 01:03] mds1 commented on #165
Not yet merged to main, but we added a [`bound`](https://github.com/Rari-Capital/solmate/blob/51b2a9e28bdbbf2ce1bfe22947cd2af6dd09d3b5/src/test/utils/DSTestPlus.sol#L102-L121) method to Solmate's `DSTestPlus` for this, where you specify the min and max (both inclusive) and it wraps the input to that range. Agreed it'd be nice to have that integrated directly though since it's a common need

[2021-12-27 01:04] brockelmore commented on #312
sure i was basing it off of `cargo expand` didnt know `hevm flatten` existed. Agree flatten makes more sense

[2021-12-27 01:06] brockelmore commented on #165
yall can check out some stuff im working on [here](https://github.com/brockelmore/forge-std/). Has compiler injected panics, and writing to arbitrary slots. check out tests for some examples. Not saying that repo should be used long term but is def my hacking on what a std lib may include

[2021-12-27 02:23] transmissions11 commented on #137
good idea, done. also added flamegraphs

[2021-12-27 03:18] wilsoncusack commented on #234
Working on this. @gakonst trying to figure out best way to load the file. Ideally cli just takes a `--path` argument, but the analogous code I can find only takes a `root`. https://github.com/gakonst/foundry/blob/master/cli/src/cmd/build.rs#L212-L213

[2021-12-27 03:20] gakonst commented on #234
Yeah doing it the same way as `--root` but calling it `--path` sounds good to me.

[2021-12-27 03:21] gakonst commented on #234
Right, we might need to hack on `ethers-solc` a bit to have both auto-detection of solidity version and the ability to provide single files. Take a look at ethers-solc `Solc` struct (instead of `Project`), maybe it makes your life easier.

[2021-12-27 03:26] wilsoncusack commented on #234
ok cool yeah, was just pulling up https://docs.rs/ethers/latest/ethers/solc/struct.ProjectPathsConfig.html, checking out Project as well

[2021-12-27 03:33] wilsoncusack commented on #234
looks like compile_with_version could help us, https://docs.rs/ethers-solc/0.1.2/src/ethers_solc/lib.rs.html#251-255, but then do we need to read the pragma from the file, or pass as an arg?

[2021-12-27 03:43] wilsoncusack commented on #234
@gakonst wondering how much we can/should rely on remapping. The idea is that this should be able to be run outside a forge project, right? Maybe first pass just has hard settings for EVMVersion etc.

[2021-12-27 06:47] sambacha opened #315 "Feature: nix flakes"
**Nix flakes** should be the way environments and releases are managed.

No submodules though. Personally I am using dapp2nix https://github.com/icetan/dapp2nix

💊 + ❄️ + 🦀 = 🧙‍♂️

[2021-12-27 09:44] mattsse commented on #166
this is actually already in use for workspaces that require different solc versions
https://github.com/gakonst/ethers-rs/pull/652

[2021-12-27 15:14] brockelmore commented on #315
I have a strong preference against having this be the *primary* way releases and environments are managed. Having used dapptools for 2 years prior to foundry, I really was not a fan.

That said, if someone wants to actively manage releases for nix users I would be okay with it but definitely don't want to point new users to it. Others may outright shut down the idea fwiw, as my feelings toward nix

[2021-12-27 15:33] brockelmore commented on #310
[code]

Where we do an expectEmit, passing in whether we check matching for the topics and data we want (i.e. in the above we check topic0 (event sig), and the data (1337), but not topic 1 (the from address) or topic 2 (the to address)).

[2021-12-27 15:55] wilsoncusack commented on #315
Second what @brockelmore said! My first attraction to Foundry was that it doesn't use Nix :)

[2021-12-27 16:11] hexonaut opened #316 "Seeing bad cache invalidation in makerdao/spells-mainnet"
Steps to reproduce:

1. Fork https://github.com/makerdao/spells-mainnet and checkout commit be8c6e946a5fa7768d8af0f6e200712f397ad587 .
2. Remove the `--force` arg from `test-dssspell-forge.sh`.
3. Run `make test-forge`.
4. Tests should correctly mostly error (4 success, 9 failing) and report that the spell has already been cast. Cache has been built.
5. Edit `src/DssSpell.t.base.sol` line 294 and

[2021-12-27 16:22] wilsoncusack commented on #316
I think same issue as https://github.com/gakonst/foundry/issues/299. cc @mattsse who had asked for a repo to reproduce

[2021-12-27 16:26] hexonaut opened #317 "Turn off solc optimizer for test harness contracts"
If test files are very large / complex it can take `solc` a long time to process with optimizations turned on. You can see an example of this in https://github.com/makerdao/spells-mainnet where compiling `DssSpell.t.sol` with optimizations turned on takes around 10 minutes. We still do want to test against the optimized target contract though.

I don't see a strong need to optimize test files as t

[2021-12-27 16:35] wilsoncusack commented on #317
Many of us use the tests to track gas changes and optimizations. Though you could still see improvements with the optimizer off, IMO it is nice to get a sense for what gas will be when deployed, which of course will have been optimized.

That said, not opposed to defaulting to off for test performance and having a config.

[2021-12-27 16:39] hexonaut commented on #317
So I'm not suggesting we turn off the optimizer for the actual contract which is where you care about the gas improvements. This is just for the test harness contracts that are calling into the target contracts. Whether the test harness is optimized or not should not affect the gas usage delta which is what you are interested in.

[2021-12-27 16:41] wilsoncusack commented on #317
Ah I see. Misunderstood. Fully support!

[2021-12-27 16:44] hexonaut commented on #317
Just realized the title was confusing. Updated.

[2021-12-27 16:46] brockelmore commented on #317
Possible solution but would need to know more about `ethers::solc` from @mattsse, but we already support multiple solc jobs for different pragma versions. Not sure how we could exactly configure this, but should be possible to spin up a solc instance with optimizations off for test contracts

[2021-12-27 16:51] mattsse commented on #316
thanks for this,
this is also currently tracked here https://github.com/gakonst/ethers-rs/issues/739 as this is an ethers-solc issue, which should be resolved shortly.

[2021-12-27 21:51] gakonst commented on #234
I think let's go with no remappings initially, just assume everything is self contained in a single file? And we can augment this feature when we have progress on the #165

[2021-12-28 06:11] ncitron opened #322 "`forge clean` does not remove out folder"
It appears that `forge clean` only deletes the contents of the cache folder but not the out folder.

[2021-12-28 10:33] odyslam commented on #304
Another example:
![image](https://user-images.githubusercontent.com/13405632/147557379-439b28a1-3be4-4330-b8f9-6f0e28e917fe.png)

[2021-12-28 22:59] sambacha commented on #315
I honestly find this very surprising.

I don't have a problem doing that, but as it stands there is not release or git tag system which releases can be based off of.

[2021-12-28 22:59] sambacha commented on #315
Who hurt you?

[2021-12-29 02:29] brockelmore commented on #315
heh I think if we ran a poll in the foundry tg my thoughts would be common. Regardless, you're right on the release side of things. I think we are approaching a point where binary and nix releases make sense @gakonst

[2021-12-29 06:35] odyslam commented on #315
Thanks to rust, brew and apt binaries are relatively easy. We had a GHA workflow and pipeline that we never released. Perhaps it's time to revive that

[2021-12-29 06:36] odyslam commented on #234
Should we close this issue @gakonst

[2021-12-29 10:59] gakonst commented on #322
ACK, I have reproduced this - investigating

[2021-12-29 11:00] #234 closed

[2021-12-29 11:02] gakonst commented on #315
Yeah I think not distributing with Nix was an explicit goal, this will get much easier once we set up our release flows once the project is a bit more stable.

Can always have your own Nix flakes @sambacha and we can maybe link to it from the README?

[2021-12-29 12:45] Jeiwan opened #326 "forge: Deploying and testing contracts compiled by older Solidity versions"
When compiling a test contract that imports a contract that uses an older Solidity version, it fails with:

   0:
      ParserError: Source file requires different compiler version (current compiler is 0.8.10+commit.fc410830.Darwin.appleclang) - note that nightly builds are considered to be strictly less than the released version
       --> /Users/jeiwan/.tmp/foundrysolversions/lib/v2-core/contrac

[2021-12-29 14:51] gakonst commented on #326
I don't think this is possible in general? You should not be able to import & use a file that is `pragma solidity =0.5.16` in a non -0.5.16 file.

2 workarounds:
1. You could write an interface of the functions you want to call that is compatible with 0.8 or whatever you're using
2. You could change your contracts to use 0.5.16

I'd recommend the former.

[2021-12-29 16:04] mds1 opened #327 "feat(forge): `expectEmit` support for multiple logs"
In #310 a cheat code will be added for testing that a single event is emitted. To keep the first iteration simple it'll work as described in that issue and only test for one instance of the specified event.

It would be useful to add a second definition of `expectEmit` with one additional argument which specifies the number of expected logs emitted. This is useful for cases where:
1. you have iden

[2021-12-29 16:53] wilsoncusack commented on #327
Also makes me wonder how the expect emit will behave when  multiple _different_ events are emitted from the same call. I guess might have to test them in separate tests? Which is OK. Even with hardhat you can't expect two different events to be emitted.

[2021-12-29 18:30] brockelmore commented on #327
We do support multiple logs but not an arbitrary `n` of the same type. For now you could do:
[code]

[2021-12-29 18:31] mds1 opened #330 "feat(forge): fuzzer should bias towards edge cases"
Fuzzing is done with proptest, which generates uniformly distributed values. This has the [downside](https://github.com/AltSysrq/proptest#limitations-of-property-testing) of almost never generating edge case values, and it's important to generate these when fuzzing as the extremes are often where issues arise.

proptest [does not](https://github.com/AltSysrq/proptest/issues/82) have a way to bias

[2021-12-29 18:49] odyslam opened #331 "cast `interface`"
1. Give address
2. Fetch ABI
3. Codegen interface declaration from ABI
4. Print to stdout or file

Perhaps invoke via `cast interface <address>`

sourced from foundry telegram

[2021-12-29 18:55] mds1 commented on #327
Ah nice workaround! And of course you could extend that by defining some arrays and indexing into them if you need to test more specific parameters in each loop iteration. That's arguably a good enough workaround to backlog or even close this issue

[2021-12-29 19:29] brockelmore commented on #327
closing as this keeps the api of the cheatcodes cleaner

[2021-12-29 19:29] #327 closed

[2021-12-29 21:22] #310 closed

[2021-12-29 22:33] lucas-manuel opened #332 "feat(forge): No traces for fuzz tests"
When running fuzz tests, a counter-example is given but no traces.

[code]

In order to get trace logs, the user has to change the test to no longer fuzz and enter the counter-example values. Ideally, the test would re-run with the counter-example and print the traces in the case of a failure. Traces can still definitely be skipped for verbosity 4 fuzz tests that pass.

[2021-12-29 23:19] gakonst opened #333 "feat: `cast wallet`"
We should add some wallet management commands:
1. `cast wallet new`: Creates a new random keypair, outputs it in some format (maybe directly to stdout, maybe encrypted json keystore)
2. `cast wallet address`: Given a private key it converts it to an address
3. `cast wallet sign`: Given a private key and a message it signs the message (or its hash maybe prefixed with eth signed message?)
4. `cast w

[2021-12-29 23:33] wilsoncusack commented on #333
Vanity? :)

Thinking if I add we should do multi threaded, but not sure exactly how we want to do it. Re just picking a number of threads or having it passed or something else

[2021-12-29 23:37] gakonst opened #334 "feat: `cast` erc20 / erc721 aliases"
Right now, to transfer tokens you need to do `cast send "transfer(address,uint256)" ...`.

This is a bit unhandy, when we could have aliases to these commands for easier access.

[2021-12-29 23:37] gakonst commented on #333
Yep also that `cast wallet new --vanity` could be a param

[2021-12-30 05:40] strawberry-fury opened #336 "--tx-origin does not work properly with --fork-url"
I'm using the following simple test code:

[code]

I then run the following command:

`
forge test --root . --tx-origin 0x56f71EFdBAa5b2d9a285e68ac31F9E524B3eeAB0 --sender 0x56f71EFdBAa5b2d9a285e68ac31F9E524B3eeAB0
`

Both tests passes.

However, when I import an EVM by adding `--fork-url` to the command making the line like the following:

`
forge test --root . --tx-origin 0x56f71EFdBAa5b2d9a285e

[2021-12-30 11:58] joshieDo commented on #334
We could expand it by using the primitives from https://github.com/gakonst/foundry/issues/331.

`cast send transfer 0x123...123 12 CONTRACT_ADDRESS`

1. Gets the contract ABI from etherscan:
    1. Find the function signature with the name `transfer`.
    2. Match cli arguments to the function arguments
2. If the contract is not verified, then try to build the function signature from the name + th

[2021-12-30 17:37] mattsse commented on #326
`pragma solidity =0.5.16;` pins to `0.5.16` and `0.5.16` only, meaning it won't compile with any other version.

this leaves two possible solutions:
* use the exact version yourself (or a range that includes it like >=0.5.16)
* upgrade the contract's pragma to a newer version

There is an unrecommended third possible workaround:
technically, it's not necessarily required to have a version pragma i

[2021-12-30 18:35] mattsse commented on #322
The issue is that

https://github.com/gakonst/foundry/blob/e70361c470cac8518943d1c1516295c895a2b402/cli/src/forge.rs#L127

falls back to hardhat style layout so it checks for `artifacts`.

I guess this should autodetect, same the `build` command currently does.

[2021-12-30 21:50] gakonst commented on #326
Yep, matches my understanding above. Closing then as it's not a Foundry issue and isn't something support-able in any framework afaict.

[2021-12-31 04:52] Jeiwan commented on #326
This is doable in Hardhat, although with a hack. I think it's also possible to deploy binary code compiled by older Solidity compiler as a contract using inline assembly or some other magic. Probably this can be implemented as another cheat code (the VM contract).

This feature can be needed when testint a contract that interacts with third-party contracts deployed on mainnet. For example, a contr

[2021-12-31 10:59] rkrasiuk commented on #333
@gakonst is anybody currently working on this feature? if not, I'd be glad to pick it up

[2021-12-31 11:18] gakonst commented on #333
I don't think so! Go for it!

[2021-12-31 11:20] gakonst commented on #326
What is the way it's doable in hardhat? Maybe we can streamline that hack?

[2021-12-31 13:08] Jeiwan commented on #326
First step is to compile a dependency contract separately from other contracts. In Hardhat, I use an empty contract like:
[code]
Then, in tests, it can be easily used via:
[code]
`getContractFactory` is a feature of Hardhat, it loads contracts from artifacts by contract name and it can instantiate a contract from bytecode and ABI:
https://github.com/nomiclabs/hardhat/blob/767f68dee84d6a47cd40153a8

[2021-12-31 13:19] LHerskind opened #341 "Fuzzing with uints smaller than `uint256` includes max-value + 1 as fuzzed value"
When fuzzing with a `uint` smaller than `uint256`, the fuzzer seems to also include the `2**size` value, meaning that tests as below will return a counter-example with `type(uint40).max + 1 = 2**40 = 1099511627776` as input. The same test in DappTools runs as expected, with no counter examples. Similar is the case for `uint248` etc.

[code]

[2021-12-31 17:44] gakonst commented on #341
Ah this seems to be happening because of [this](https://github.com/gakonst/foundry/blob/master/evm-adapters/src/fuzz.rs#L244-L266):

[code]

So `uint40` falls in the `5..=8` branch but uses `u64` as its values, which may result in a larger raw value than 2**40.

Should we be doing `5 => any::<u64>().prop_map(|x| (x % 2 ** 40).into_token()).boxed()` instead?

I would've expected that Solidity gener

[2021-12-31 19:19] mds1 commented on #341
Yea, I'm surprised this failure case happens, I'd expect it to wrap the number to the correct range or revert with an out of bounds error. Maybe a bug somewhere? Probably worth investigating this

This will introduce a modulo bias where values of `0–2e29` are twice as likely to occur than values from `2e29–type(uint40).max` (the severity of the bias will of course changes as the values change). Th

[2021-12-31 19:42] jparklev commented on #326
Here's what i'm doing for this atm lmao

<img width="747" alt="Screen Shot 2021-12-31 at 2 40 11 PM" src="https://user-images.githubusercontent.com/24902242/147837346-11d88719-ec94-4f19-8a25-644b992af4ee.png">

[2021-12-31 19:59] gakonst commented on #326
Honestly that's not a bad workaround, maybe something we should add on the stdlib?

2 qs:
1. What does _compileSpace() do?
2. How do you get its interface for further usage in the tests?

[2021-12-31 20:29] jparklev commented on #326
I'm using a monorepo, so its essentially making sure the other pkg has been compiled first (does something like `cd ../space-pkg; forge build`)

Just defining a new interface for it [maker-style](https://github.com/makerdao/dss/blob/c666ab1fdac4cb3dd8a8b4223f951a9773a64c55/src/pot.sol#L45) in this case, nothing fancy

Yea! Guess it depends if there are any gotchas with appending calldata to bin by

[2022-01-01 01:15] danrobinson opened #346 "cast --from-wei and --to-wei should assume unit is eth"
`cast --from-wei` assumes the user wants the result in wei, which is an unintuitive default target unit (and contradicts the description in the usage message ("convert wei into an ETH amount").

`seth` (despite [saying otherwise in its documentation](https://github.com/dapphub/dapptools/tree/master/src/seth#seth---from-wei)) defaults to eth as the target unit, which is more intuitive.

[code]

`--

[2022-01-01 03:14] smsunarto opened #349 "Compiling a solidity library file with enum fails"
**What happened?**

~Compilation failed (error below) when compiling a solidity file with imported enum as function parameters (enum declared in a separate library file)~

EDIT: Compilation failed (error below) when compiling a solidity **library** file with enum as function parameter or return values.

[code]

## Isolated Failing Code

**Enum in function param**
[code]

**Enum in function return*

[2022-01-01 08:24] gakonst commented on #346
For context, I thought that it was OK to diverge from seth / default to `wei` in the PR which introduced this, https://github.com/gakonst/foundry/pull/261, but seems like it might've been more unintuitive.

[2022-01-01 08:45] #346 closed

[2022-01-01 09:28] odyslam commented on #331
Started today on this

[2022-01-01 09:33] gakonst commented on #349
This is odd, can you try sharing a code example that reproduces this issue?

[2022-01-01 11:58] smsunarto commented on #349
Just updated the original post with the isolated code + additional comments

[2022-01-01 13:16] gakonst commented on #349
Thanks! Also wonder if it's related to the library function being `public` instead of `internal`..In any case, cc @mattsse

[2022-01-01 18:57] vm commented on #67
I'll attempt adding walletconnect. I'm a bit new to Rust/dapps, so may post some questions!

[2022-01-01 20:40] smsunarto commented on #349
Yes, it only fails on public library functions.

For example, this compiles fine.
[code]

[2022-01-01 21:06] wilsoncusack commented on #333
Nice work! should we close @rkrasiuk ?

[2022-01-01 21:09] rkrasiuk commented on #333
@wilsoncusack thanks. you can close it, i've got another PR incoming, hopefully, tomorrow with vanity address generation

[2022-01-01 21:11] wilsoncusack commented on #333
@rkrasiuk great! Here's a gist, incase it's helpful https://gist.github.com/wilsoncusack/9a818806572170f973208b97c7cf9236

[2022-01-01 21:12] rkrasiuk commented on #333
great, thanks! will take a look shortly

[2022-01-01 21:13] wilsoncusack commented on #333
is p simple, was mainly using as an excuse to get familiar with rust. But maybe useful!

[2022-01-01 21:21] #333 closed

[2022-01-02 02:53] Jeiwan commented on #326
I've ended up using the same solution. Learned about it from this blog post:
https://www.libevm.com/2021/12/18/yulp-smart-contract-dev/

[2022-01-02 14:52] gakonst commented on #349
Thanks @smsunarto this ended up being an ethabi issue: https://github.com/rust-ethereum/ethabi/issues/254.

[2022-01-02 18:38] zerosnacks opened #360 "ParserError: Source .. not found: File outside of allowed directories (Windows)"
When I `forge build` or `forge test` on a clean `forge init` I am faced with the following error:

[code]

`foo Bar` being a replacement of my actual username which has a space in it.

I suspect this being an issue with `solc` as the `File outside allowed directories` has been reported there too.

To my knowledge this happens to me on Windows ~and Mac~.

[2022-01-02 19:04] #341 closed

[2022-01-02 19:08] gakonst commented on #360
Can you do `forge test --root .`?

[2022-01-02 19:22] mds1 commented on #330
The third bullet could be a good compromise for now as it's a simple way to get similar behavior without finding and implementing the quickcheck/dapptools algorithm.

We can hardcode edge case values by type and use [`proptest::sample::select`](https://docs.rs/proptest/latest/proptest/sample/fn.select.html) to generate a strategy of those values, then use [`prop_union`](https://docs.rs/proptest/la

[2022-01-02 20:36] zerosnacks commented on #360
I've just re-tested in on Mac and it works 👍

On Windows I do have the issue, even when running with `forge test --root .`

In `.gitmodules` it registers the submodule as `lib\\ds-test`. From the error it appears that it can find the file but it is not allowed to access it for some reason.

[2022-01-03 07:46] gakonst commented on #360
Hmm this is a weird [submodule bug](https://www.deployhq.com/support/common-repository-errors/no-url-found-for-submodule#:~:text=This%20occurs%20when%20the%20repository,the%20repository%20you%20are%20using.), not exactly sure what's causing it.

We're literally running Git commands [here](https://github.com/gakonst/foundry/blob/master/cli/src/forge.rs#L142-L175) so i'd have expected this to work c

[2022-01-03 10:05] lattejed commented on #227
I'm going to tackle this if no one else is on it

I'll look at including @jparklev & @gakonst 's suggestions.

[2022-01-03 10:33] gakonst commented on #311
Confirming that verification is _totally_ broken right now.

To get it working we need a few things:
1. Storing compiler settings (version + optimizer runs) per file in ethers-solc, WIP here: https://github.com/gakonst/ethers-rs/pull/755
1. Supporting flattening contract source (needs to follow remappings / imports etc.) in ethers-solc
1. Integrating that in `verify`, WIP here: https://github.com/

[2022-01-03 10:34] gakonst commented on #227
Sounds great! I don't think anyone else is working on it.

[2022-01-03 15:08] tarrencev opened #362 "bug: expectRevert not applied to revert in constructor"
It seems that `expectRevert` doesn't handle reverts in constructors as expected, the test fails although the expectation is met.

[code]

[2022-01-04 07:31] lattejed commented on #227
Looking at how to extend the interface to handle the proposed changes. Some thoughts:

Rust regexes don't have negative lookaheads, so there's no (easy?) way to use part of a name as an inverse match, which means inverse filters have to be explicit.

Also, filtering both contract names and test fn names with the same pattern seems problematic, so `--match` should likely be split into a set of new

[2022-01-04 15:32] lattejed commented on #227
@gakonst Just wanted to make sure you saw this -- though happy to get input from anyone

[2022-01-04 16:50] gakonst commented on #227
+1 on match-test / match-contract, and no disagreement on the negative regex matching.

[2022-01-04 16:54] vm commented on #67
i'm going to pause on this for now, struggling to do this without understanding solidity a bit more. if someone wants to tackle this feel free, i'll grab a different issue once I'm up to speed.

[2022-01-04 19:47] gakonst commented on #67
It'd also be sick if we added https://github.com/gakonst/ethers-fireblocks

[2022-01-04 20:18] gakonst opened #368 "Add `--flashbots` flag for frontrunning protection to `cast send`"
Submit transactions as bundles using https://github.com/onbjerg/ethers-flashbots/ and a `--flashbots` flag.

Here's an example of how I used this in the past:
* https://github.com/gakonst/opensea-rs/blob/master/opensea-cli/src/contracts.rs#L131-L135
* https://github.com/gakonst/opensea-rs/blob/master/opensea-cli/src/contracts.rs#L299-L320

Alternatively we could use the Flashbots RPC: https://docs

[2022-01-04 22:01] odyslam commented on #368
There is also the rpc endpoint with bundle support that is being shipped as we speak: https://github.com/flashbots/docs/pull/230/files

[2022-01-05 00:11] mds1 opened #370 "show logs on failed fuzz tests to see which assertions failed"
Currently the only way to see where an assertion failed in a fuzz test is by changing the fuzz test to a concrete one and re-running it

We should show assertions on failed fuzz tests the same way we do for concrete tests. To do this:
1. Grab the logs (the unused return value) from the output of [`call_raw `](https://github.com/gakonst/foundry/blob/3e8c9979e2b8836fccdb16e10be9a21862a9c81a/evm-adap

[2022-01-05 01:50] FrankieIsLost opened #373 "[Bug] Hardhat console not logging Ints"
There is an issue with calls to `console.logInt()` not logging. You can find a failing test case at https://github.com/gakonst/foundry/pull/372

[2022-01-05 03:57] ncitron opened #375 "feat(cast): `cast send-bundle`"
A pretty natural extension to #368 would be to add a `cast send-bundle` command for batching multiple transactions via flashbots.

This could work like:
`cast send-bundle $TO $SIG $ARG1 $ARG2, $TO $SIG $ARG, ...`

[2022-01-05 08:18] gakonst commented on #373
@mattsse did we miss a function selector in the patching logic?

[2022-01-05 14:32] mattsse commented on #373
yeah I used selector(logInt(int)) as patch, but it should be just `log(int)`
fixed in #372 already

[2022-01-05 15:46] mattsse commented on #360
this is again a canon path issue:

need to replace all `.canonicalize` calls with `dunce::canonicalize`

[2022-01-05 15:47] mattsse opened #378 "use `dunce::canonicalize` instead of std canonicalize"
this is again a canon path issue:

need to replace all `.canonicalize` calls with `dunce::canonicalize`

_Originally posted by @mattsse in https://github.com/gakonst/foundry/issues/360#issuecomment-1005841909_

[2022-01-05 16:48] hexLancel opened #379 "Checksum not found error"
I've recently started getting this error when trying to use Forge to test my contracts

Not sure if something changed.

I'm currenly using a mac with an apple silicon

I've tried using cargo 1.57 and a nightly 1.59 build

[code]

[2022-01-05 17:00] mattsse commented on #379
This is addressed here, https://github.com/gakonst/ethers-rs/pull/759
basically what happened is `https://binaries.soliditylang.org` went down and this is a side effect from that, however once the domain is reachable again this should be resolved automatically

[2022-01-05 17:03] zerosnacks commented on #360
Hi @mattsse, in an attempt to narrow down the cause I implemented this in https://github.com/zerosnacks/foundry/tree/zerosnacks/windows-path-bug

On its own it does not appear to solve the issue. I think the root cause is the something in the path construction of the automatic remapping.

When manually overriding the remapping all works great (build and test). This is both with the latest version

[2022-01-05 17:12] mattsse commented on #360
thanks for looking into this

I believe it is this line
https://github.com/gakonst/foundry/blob/f48e76ed4e1406ac25ac8eec0e87feab505e6f2f/cli/src/forge.rs#L57

there is some funny business going on with canonicalize on windows that's why the `dunce` crate exists
https://crates.io/crates/dunce

so if you'd like to submit a fix then we need
* `cargo add dunce` in the `cli` folder
* replace `let root

[2022-01-05 17:18] mattsse commented on #373
vote close @gakonst

[2022-01-05 17:30] #373 closed

[2022-01-05 17:30] gakonst commented on #373
yessir

[2022-01-05 17:45] hexLancel commented on #379
That worked to run the tests I have already compiled.

Thanks

[2022-01-05 18:48] tarrencev opened #382 "feat: expectCall and mockCall"
following up on a telegram convo here to track:

Would it be possible to implement a cheat code like this, that reverts if the condition is not met before the end of the test:

[code]

Re: mock

[code]

[2022-01-05 19:04] #378 closed

[2022-01-05 19:04] #360 closed

[2022-01-05 19:15] gakonst commented on #379
Should be fixed on latest master now that the above PR is merged and ethers-rs is updated! Thanks for reporting, this was a bit unfortunate of a bug.

[2022-01-05 19:15] #379 closed

[2022-01-05 21:04] alephao opened #384 "bug: tests doesn't run when a test file imports a solidity library"
Hello I've been trying to run tests for a solidity library but it seems like all tests in a file are ignored if a library is imported in that file.

Here is a repo reproducing the issue: https://github.com/alephao/forgery-lib-test-issue

1. Clone
2. Run `forge test`

Expected: Tests on `MyLib.t.sol` would run
Actual: Tests doesn't run

[2022-01-05 21:34] naszam opened #385 "forge: storage slot retrieval errors"
Hi @gakonst,

I was running `forge` against https://github.com/makerdao/spells-mainnet/pull/213 via:
`make test-forge`
using:
- hardhat mainnet fork pinned at block n. `13779177` (deployed spell block)

and I'm getting the following failures:
[code]
  also, noticed the following errors in the hardhat trace as well:
[code]

I've tried to reproduce via `dapp` and the tests pass via:
`make test`
- op

[2022-01-05 21:57] gakonst commented on #385
Can you re-run the same test with `RUST_LOG=ethers=trace`? This should log all ethers requests/responses, and then we should grep through them to understand what request is being generated that causes this error.

[2022-01-05 22:09] gakonst commented on #141
I've updated the links, thanks for flagging.

[2022-01-05 22:27] gakonst commented on #384
Try changing the library function from public to internal!

[2022-01-05 22:28] naszam commented on #385
I've just run `forgeup` again and put the logs here:
https://gist.github.com/naszam/fd2d22db9f31a3ed7ce422792192af2c

[2022-01-05 22:39] naszam commented on #385
If I run:
`make test-forge | grep 0x000000000000000000000000000000000000000000000000000000000000001a`
I get:
[code]

[2022-01-06 00:04] alephao commented on #384
Oh, missed that, works ok using `internal` thanks!

[2022-01-06 00:04] #384 closed

[2022-01-06 03:11] ncitron commented on #334
I'd like to give this a shot using @joshieDo's method.

I think the flow would end up looking like this:
1. Fetch ABI from etherscan
2. Match provided function name to a function from the ABI
        i. If there are multiple overloaded functions with the same name, attempt to match using number of arguments and implied argument types. If multiple functions still match, enter into an "interactive"

[2022-01-06 03:36] mds1 opened #387 "meta: forge fuzzer improvements"
The current state of fuzzing is naive (we think, more on this below)—it uses [`proptest`](https://github.com/AltSysrq/proptest) strategies to [generate](https://github.com/gakonst/foundry/blob/master/evm-adapters/src/fuzz.rs#L236) random, uniformly distributed inputs based on Solidity types. This is an ok start, but isn't great. There's lots of improvements to the fuzzer that can be made to increa

[2022-01-06 03:40] mds1 commented on #286
closing in favor of https://github.com/gakonst/foundry/issues/387 to consolidate all fuzzer discussion

[2022-01-06 03:40] #286 closed

[2022-01-06 03:40] mds1 commented on #330
closing in favor of https://github.com/gakonst/foundry/issues/387 to consolidate all fuzzer discussion

[2022-01-06 03:40] #330 closed

[2022-01-06 03:43] transmissions11 commented on #51
clsoing in favor of aggregated #387

[2022-01-06 03:43] #51 closed

[2022-01-06 05:35] lattejed commented on #227
This is now PR #388

Any / all input welcome

[2022-01-06 05:38] lattejed commented on #141
If no one is on this, I'll pick it up

[2022-01-06 06:18] CalebEverett commented on #141
I was taking a look at this as well and was wondering what the right parallelization strategy was with regard to the `evm`. Does it make sense to try to just use a single one or will that limit the potential speedup and would it be better to have multiple, potentially one per `ContractRunner` or even multiple within a `ContractRunner` since the state gets reset before each test runs.

[2022-01-06 06:28] lattejed commented on #141
@CalebEverett I need to look at it in depth before I can comment. Did you want to pick this one up? I don't mind either way.

[2022-01-06 06:33] CalebEverett commented on #141
@lattejed I'd be up for trying to figure it out, but it will probably take me longer to get all the way there than it would you. If you take a look at it and think it is something quick for you, in the interest of helping the repo, by all means take it. I'd be curious on the solution. But otherwise, happy to keep working on it.

[2022-01-06 06:35] lattejed commented on #141
@CalebEverett cool, I'll take a look. Worth discussing here regardless.

[2022-01-06 10:51] #368 closed

[2022-01-06 11:02] gakonst commented on #141
I think we can start by naively creating a factory function `new_evm(<..args>) -> impl Evm` (I think Clone'ing the EVM might not be an option) which gets passed in the runner/multi_runner.rs and gets called in each test.

We are already clone'ing and passing the init state for each test, so I think we have most of the state related components set up.

Highest performance gain will be by paralleliz

[2022-01-06 11:10] lattejed commented on #141
Good suggestions, thanks. Looking at it now Evm is stateful / reset inside the runner for each test. Based on your comments I'll assume there are no issues instantiating a number of Evms in parallel so it should be straightforward to make these changes.

[2022-01-06 11:12] gakonst commented on #334
#390 I think satisfies this well enough, the biggest pain was the full signature, writing the name should be sufficient. Closing, unless anybody feels like we should alias more aggressively.

[2022-01-06 11:12] #334 closed

[2022-01-06 11:32] gakonst commented on #141
Yes exactly, I think that because of the resetting of the state being already done it should be doable

[2022-01-06 11:53] mattsse commented on #387
there's also
https://github.com/rust-fuzz/arbitrary

[2022-01-06 13:20] mattsse opened #391 "feat: add `forge mssv` command to assist finding the minimum supported `solc` version for a project"
Add `forge mssv` command that takes a project and tries to compile it with various solc versions

Ref https://github.com/foresterre/cargo-msrv

[2022-01-06 13:23] jparklev commented on #227
This is perfect and immediately useful. ty @lattejed

[2022-01-06 13:29] #227 closed

[2022-01-06 13:29] gakonst commented on #227
Indeed, very high ROI PR

[2022-01-06 13:30] gakonst commented on #391
Motivation is that we detected a misconfigured pragma [here](https://github.com/dapphub/ds-token/pull/35) and I had to manually bisect to find which is the min version that works.

[2022-01-06 13:57] gakonst commented on #387
We could also explore making our own `Strategy` implementations for proptest.

[2022-01-06 14:13] stevennevins opened #392 "Resolution for duplicate test/contract names affecting forge test output"
Demo repo: https://github.com/stevennevins/demo_behavior

Dapptools seems to handle if there are harness contracts with duplicate names and *.t.sol files with duplicate test case names, but forge will only display the result of the first case of these duplicates unless verbosity is increased.  I've included a demo repo to show the behavior difference between dapptools and forge.

[2022-01-06 14:18] yaronvel commented on #387
Consider using SMT solvers like z3 directly to generate random valid inputs, instead of hoping some generic fuzzer will support smart contract specific needs.
Can elaborate more on this if you want, in my previous life I once built a randomized testing tool with z3 from scratch.

[2022-01-06 18:36] brockelmore commented on #385
Could this be a hardhat bug? Seems like hardhat just refused to hand back a value from it's forked state. The input parameters seems valid for the eth_getStorageAt. Is there a reason you can't use built-in forking capability (i.e. cumbersome to increment blocks)?

[2022-01-06 20:11] #332 closed

[2022-01-06 20:11] #370 closed

[2022-01-06 20:51] #362 closed

[2022-01-06 20:56] gakonst commented on #392
I suspect this is happening due to the `.collect()` [here](https://github.com/gakonst/foundry/blob/master/forge/src/multi_runner.rs#L157-L158), because it's done over Contract name, not including the file name.

[2022-01-06 21:00] gakonst commented on #385
Good point @brockelmore, I wonder if this bug still persists if @naszam used a remote node directly.

I believe Dapptools users use hardhat's forking mode to leverage the caching, to improve the forking speed.

[2022-01-06 21:17] brockelmore commented on #385
i can try to reproduce it without hardhat

[2022-01-06 21:25] brockelmore commented on #385
[code]

produces this output:
[code]

[2022-01-07 00:30] numan commented on #67
I'll give walletconnect a go since nobody else is currently working on it.

[2022-01-07 01:48] naszam commented on #385
Hi @brockelmore,

I've just run:
[code]
using Rivet, as you suggested in chat, and Test PASS :tada:

[code]

Thanks!

[2022-01-07 02:09] brockelmore commented on #385
closing for now as it appears to be an issue with hardhat

[2022-01-07 02:09] #385 closed

[2022-01-07 09:21] numan commented on #67
@gakonst walletconnect seems a little more involved. Would I have to implement a signer here?

https://github.com/gakonst/ethers-rs/tree/master/ethers-signers/src/

[2022-01-07 10:59] lattejed commented on #141
Currently looking at implementing `Clone` for `Evm` as it may be cleaner overall.

Main challenge with adding parallelism here will be managing lifetimes. `Clone` may be more straightforward than working with passing around state to init new Evms, but I need to experiment more to see what works best.

[2022-01-07 13:04] gakonst commented on #322
The `out` folder seems to get deleted now properly, but the `cache` is still left around.

[2022-01-07 13:32] onbjerg commented on #291
How do you envision the migrate command should work/what are constraints on the migrator since `.dapprc` is essentially just a shell script?

[2022-01-07 13:44] gakonst commented on #43
Yep - should behave identically to `dapp create` for the most part. Some docs would be nice, altho the help command should provide some context. Docs for passing arrays and abi encoder v2 structs is what prob needs most work.

[2022-01-07 13:51] mattsse commented on #291
have a look at https://github.com/gakonst/foundry/pull/297 README.md

the easiest would be to use already set env vars when populating the `Config` type.
so after `source .dapprc` we can merge the vars:
https://github.com/gakonst/foundry/blob/aee88f9451c2c66c3b1e50b08976295e32bb2c8b/config/src/lib.rs#L229-L233

if we add `.merge(Env::prefixed("DAPP_").global())`

but this only works for vars, ther

[2022-01-07 14:03] onbjerg commented on #304
Needs additional checks here

https://github.com/gakonst/foundry/blob/cb279a21b562df7f57b5880584c722d77b93018c/cli/src/cmd/mod.rs#L45-L56

when https://github.com/gakonst/ethers-rs/pull/772 is merged. Alternatively we can just spit out `output` directly and bail if compilation fails with an error. Thoughts @gakonst?

[2022-01-07 14:26] wuestholz commented on #387
@mds1 @gakonst Great to hear that there are other efforts to get more users hooked on fuzzing! :) You might want to take a look at our Harvey fuzzer; see https://mariachris.github.io/Pubs/FSE-2020-Harvey.pdf for ideas on what features make a big difference in practice. Harvey is used both in Diligence's [MythX](https://mythx.io) service and our dedicated [Diligence fuzzing](https://consensys.net/d

[2022-01-07 14:32] onbjerg commented on #20
AUR too please :heart: _ :heart: I use Arch btw

[2022-01-07 14:55] gakonst commented on #304
The PR is merged. I'd Err towards keeping control of the compiler output as much as possible, as we want to also do error code filtering in the future so we silence certain warnings.

[2022-01-07 15:33] onbjerg commented on #375
I want to take a stab at this but I can't really figure out nice UX for it. I don't think using commas makes sense, so how about we have two modes:

1. `cast send-bundle $(cast mktx ...) $(cast mktx ...)`
2. Interactive mode

First let's you still use it in scripts/non-interactive environments, second is probably nicer overall if you're just using it on the command line

Thoughts?

[2022-01-07 15:47] brockelmore commented on #141
@lattejed I would recommend just instantiating *inside* the test. You probably will run into `Send`+ `Sync` issues otherwise as I tried to hack something together yesterday using clone to no avail.

[2022-01-07 16:13] CalebEverett commented on #141
That was the approach I was working on as well as a starting place, removing the passing on an instantiated vm to [ContractRunner](https://github.com/gakonst/foundry/blob/cb279a21b562df7f57b5880584c722d77b93018c/forge/src/runner.rs#L139) and just creating one inside [run_test](https://github.com/gakonst/foundry/blob/cb279a21b562df7f57b5880584c722d77b93018c/forge/src/runner.rs#L231) with a `new_evm

[2022-01-07 16:25] gakonst commented on #141
If you push the code we can maybe take a look, not sure what this could be either. Maybe a missing `Sync + Send` trait bound?

[2022-01-07 16:37] CalebEverett commented on #141
[Here](https://github.com/CalebEverett/foundry/blob/2f880a17a7595ef0e7c5e6b39f6b4d283ccfcf04/forge/src/runner.rs#L171) is the new method. Starting with just keeping everything as is and getting the [creation of the vm](https://github.com/CalebEverett/foundry/blob/2f880a17a7595ef0e7c5e6b39f6b4d283ccfcf04/forge/src/runner.rs#L202) and passed into [run_test](https://github.com/CalebEverett/foundry/bl

[2022-01-07 17:37] brockelmore commented on #141
the primary issue with the above is that we lose the command line configurations (like forking).

This is semi-ok but for forking we likely want a single evm anyway because otherwise caching becomes impossible in its current form (there is another fork caching implementation floating around some place that isnt used but may solve this)

[2022-01-07 18:28] CalebEverett commented on #141
I was thinking `new_evm` would accept arguments. I was messing around with putting the evm in a mutex and sharing it between threads, but If there is only one evm, how much speed up is there to be had over the current implementation? I was working on naively testing what the tradeoff was of having to create evms versus the benefit of having the tests themselves run in parallel as a first pass.

If

[2022-01-07 20:14] ncitron commented on #375
That seems like a pretty reasonable way to do it to me. Using commas would probably be hard to get working with the current CLI setup foundry uses. Option one also has the benefit of allowing you to include transactions that you did not sign yourself in the bundle. Super excited for this feature. Will make doing things like token/nft recoveries crazy easy.

Will you just let users sign the bundle

[2022-01-07 20:41] fvictorio commented on #385
Hi, someone mentioned this issue in our discord server, but AFAIK no one has opened an issue about it in our repo. Can someone help me understand the issue so I can create a minimal reproduction example (or, if someone can create the minimal example, even better).

[2022-01-07 21:09] frangio opened #401 "forge install: Installs development branch and ignores releases"
`forge install openzeppelin/openzeppelin-contracts` installs the master branch of the repository. We consider this a development branch, and request that people use our releases instead. On one hand it's a matter of stability because the master branch may receive breaking changes, but it's also a matter of security. Our release process involves release candidates, an open review period, and a call

[2022-01-07 21:09] gakonst commented on #141
I'd use the "SharedBackend" that @mattsse wrote, it's a cloneable forking backend which caches and deduplicatew requests and responses. The explicit reason it was created was for when we have multiple tests running in parallel to optimize network traffic.

[2022-01-07 22:42] brockelmore commented on #385
hi @fvictorio! I believe the reproduction is just a hardhat mainnet fork (using cached state? @naszam can confirm) and calling this method rpc method: `rpc{method="eth_getStorageAt" params="[\"0xbd770416a3345f91e4b34576cb804a576fa48eb1\",\"0x000000000000000000000000000000000000000000000000000000000000001a\",\"latest\"]"}`

I may have gotten some things wrong here but ultimately something weird hap

[2022-01-08 03:52] brockelmore opened #402 "feat(forge): Better deployment"
Add the ability for forge to use a solidity file to create a contract on mainnet and arbitrary deploy scripts by adding a cheatcode. You could do something like:

[code]

[2022-01-08 04:13] lattejed commented on #141
The main issue I had with passing in a fn was that it looked like there were multiple factory functions per vm in the different implementations -- it looked like it might be necessary to pass around additional config for `fn() -> Evm` to work. Not that big of a deal but I was trying to avoid it. Maybe this won't be an issue in practice however., i.e., each vm has a single config for testing.

So I

[2022-01-08 09:20] #336 closed

[2022-01-08 10:26] gakonst commented on #67
You can also implement in a separate crate like `ethers-fireblocks` does it, you just need to implement the `ethers::signers::Signer` trait.

[2022-01-08 10:30] gakonst commented on #402
Would `vm.mainnetDeploy()` broadcast the next call as a transaction? So it'd require having instantiated a signer and an RPC connection? Maybe it could be configured in a 2-step process, one which generates the transactions, and another one which fires them all? (brainstorming)

[2022-01-08 10:32] gakonst commented on #401
You can install a specific tag by doing `forge install openzeppelin/openzeppelin-contracts@5.0.1`!

[2022-01-08 14:54] fvictorio commented on #385
Oh, thank you. @alcuadrado found out that we are probably implementing the spec wrong: we are expecting the storage slot to be a quantity (so no leading zeros), when in reality it seems like you _have_ to pass a 32 bytes hex. We'll open an issue about this. Thanks again!

[2022-01-08 20:44] #304 closed

[2022-01-08 21:19] tlancina opened #404 "forge test console.logs not cleared between test cases"
Originally mentioned in https://github.com/gakonst/foundry/issues/336#issue-1090889189

Repro (`forge test -vv`):
[code]

Prints
[code]

[2022-01-08 21:30] numan commented on #67
I'm going to try KMS first and then give WalletConnect a go.

New to Rust, so might take a little bit of time to do WalletConnect.

KMS looks trivial.

On Sat., Jan. 8, 2022, 2:26 a.m. Georgios Konstantopoulos, <
***@***.***> wrote:

[2022-01-08 22:00] frangio commented on #401
Using git submodules is interesting, and staying close to `git submodule add` is a reasonable design decision, but if people use forge to install their dependencies it becomes a kind of package manager. The concern that I wanted to raise is about the default behavior as a package manager. I don't think the current defaults are good because it potentially installs a development version of the depen

[2022-01-08 22:14] #404 closed

[2022-01-08 22:28] gakonst commented on #401
Definitely not something we want to do 😅

Once we include foundry.toml files we'll explore making our own manifest which allows installing specific versions of libraries! But for now I think we'll stick with the current way it's done

[2022-01-09 08:03] gakonst commented on #67
https://github.com/nlordell/walletconnect-rs FYI

[2022-01-09 09:07] lattejed commented on #141
Spending some more time with it now. Some thoughts:

Instead of configuring an `Evm` in the test `Cmd` and then having it passed around belonging to `[Multi]ContractRunner` I think it makes sense to pass around a new `EvmConfig` struct (whatever it should be called) and make `ContractRunner` able to init new Evms as needed, including inside new threads. Maybe `new_evm` needs to be a free function

[2022-01-09 09:20] lattejed commented on #141
Deleted a comment. Need to play around more.

[2022-01-09 10:11] leeren opened #407 "forge: Reusable Test Suites"
Often it is helpful to run the same suite of tests across multiple contracts or fixtures. One primary example of this is testing public functions across multiple contracts sharing the same interface.

With tools like HardHat, this is easy to do using Mocha by plugging our fixture as a reusable input to our test suites:

[code]

How should Foundry be used for similar invocations of reusable test su

[2022-01-09 12:48] gakonst commented on #407
Can the behavior you're describing be achieved with this pattern?

[code]

[2022-01-09 13:51] lattejed commented on #141
Ok, a bit clearer now.

Afaik `fn() -> impl Evm` can only be used to return homogenous types. The common way to return heterogenous types is to use `fn() -> Box<dyn some_trait>` (or an `Enum` which won't really work here).

However, in this case we need to return a `Box<evm_adapters::Evm<State>>` and `evm_adapters::Evm<State>` is considered 'object unsafe' or unboxable due the use of generics and

[2022-01-09 21:28] leeren commented on #407
@gakonst this works perfectly! Thank you. Can test output be constrained to that of implementing contracts under this inheritance-style testing approach? Running Forge with the above structure yields the following:

[code]

Ideally I'd like to constrain output to just the first two contracts, especially since `Test` is an abstract contract here (so `PASS` is sort of misleading too).

[2022-01-09 22:19] gakonst commented on #407
Have you marked it as `abstract contract` in your tests? If not, then it seems like we should filter abstract contracts out

[2022-01-09 22:34] Melvillian commented on #402
Along with `vm.mainnetDeploy()`, we could specify `FOUNDRY_*` env vars in the `foundry.toml` and then these scripts would implicitly use the `FOUNDRY_RPC_URL` and `FOUNDRY_PRIVATE_KEY` or `MNEMONIC` + `PATH` env vars to setup RPC connection and signers.

[2022-01-09 23:28] leeren commented on #407
@gakonst Yes, I did. Seems like that's the right solution! Unfortunately I'm not familiar with Rust - hopefully it's an easy fix?

[2022-01-10 00:30] gakonst commented on #407
I think we probably should skip deployment if the contract's bytecode is empty? Try adding a check on bytecode .is_empty / len!=0 [here](https://github.com/gakonst/foundry/blob/master/forge/src/multi_runner.rs#L67-L73)

[2022-01-10 04:02] leeren opened #409 "forge: Print custom errors for revert reasons on failing tests"
Currently, when a test function fails and the culprit is a custom error being thrown, the custom error message is not printed out:

[code]
Expected output:
[code]

Actual output:
[code]

[2022-01-10 04:06] leeren commented on #407
That sounds right to me. Hopefully another maintainer can chime in.

[2022-01-10 04:59] fmhall commented on #249
Interestingly, setting `DAPP_TEST_CALLER` and `DAPP_TEST_ADDRESS` sets the addresses, but to different ones than I specified

[2022-01-10 07:59] lattejed commented on #141
I'm going to call `Clone` a dead end -- `derive` requires upstream changes and would be difficult to implement manually due to the use of generics.

Currently working on moving evm creation into the test runners. Probably going to go the route of adding a macro so evm creation logic doesn't have to be replicated.

[2022-01-10 08:02] gakonst commented on #141
Ideally we'd avoid the macro, can you share maybe what the roadblock with moving the evm creation function (instead of doing a macro) is?

[2022-01-10 08:22] lattejed commented on #141
I flushed my changes already, but you can drop sth like this into `cli/src/cmd/test.rs`:

[code]

`Box<dyn trait>` is required b/c of how Rust deals with heterogenous return types. The simpler `-> impl Evm` will only work with homogenous types.

You could create multiple factory functions, but will still need some config passed along with it and some logic in place.

[2022-01-10 08:44] lattejed commented on #141
To be clear, a macro isn't required. I was just considering it if evm creation logic has to be duplicated in multiple places.

The 'have to' afaict here is to move the creation logic into the runners.

[2022-01-10 13:12] sambacha commented on #315
yes - however there needs to be a versioning policy, at least something like `v0.1.0-nightly-59589`

[cargo-edit ](https://github.com/killercup/cargo-edit#cargo-set-version) can handle the versioning for `Cargo.toml`

[2022-01-10 13:36] mattsse commented on #141
yeah the Evm trait is not object-safe

since we only use the Evm trait, would it be possible to do something like

[code]

I guess that would require wrapper types for the state as well, so maybe too complex

Since they are both mutually exclusive, can make this work with cfg type aliases

[code]
same for factories

[2022-01-10 14:12] lattejed commented on #141
Yeah, I was wondering about that. This

[code]
made me think they weren't mutually exclusive, but if they are that gives some more leeway.

I'll see if the aliases you're suggesting can work. Thanks for the input @mattsse

[2022-01-10 16:09] crisgarner opened #410 "forge: show current variable values during debug"
Add some way to show the current value of the variables while debugging

[2022-01-10 17:34] nicolasgarcia214 opened #411 "Debugger: prev/next op not working properly"
the opcode highlighter is lost as I go through the debugger. The program counter and the gas consumed keeps changing but the opcodes screen remains static for a couple of steps forward until it changes again but the highlight is no longer visible.

![Animation](https://user-images.githubusercontent.com/37629288/148811818-d52c5162-a685-45a7-a65a-5407a7fc711d.gif)

[2022-01-10 17:37] brockelmore commented on #411
this is a formatting issue - if youre able to use a larger terminal, it should print correctly, but this should be fixed regardless

[2022-01-10 19:24] wilsoncusack commented on #407
Seems like kinda a blunt way to do this? I have created dummy empty contracts for test before. Can we not detect if it is marked abstract?

[2022-01-10 19:43] gakonst commented on #407
I think the dummy empty contracts still have non-empty bytecode, whereas an abstract contract actually has 0 bytecode? So it should be fine?

[2022-01-10 19:59] wilsoncusack commented on #407
ah ok, my lack of understanding

[2022-01-10 21:13] CalebEverett commented on #141
@lattejed I managed to get a super crude version of this running with the tests parallelized in `run_tests` and sputnik vms created in `run_test` and `run_fuzz_test`. I was working on getting the initial state with the deployed contracts passed into `run_tests` so it can be cloned for each `run_test` call and was then going to circle back to getting the cli args passed in and generalizing to inclu

[2022-01-10 21:52] gakonst commented on #141
@CalebEverett pushing this code would be very valuable. I'm very curious to hear how long [solmate](https://github.com/Rari-Capital/solmate) tests take with your code

[2022-01-10 22:04] CalebEverett commented on #141
@gakonst [Here](https://github.com/CalebEverett/foundry/commit/9c66cea8d29d8d8b91b55c4010b16477dd5e0c9c) is what I've got - super crude, intended as concept demo only, to be refined, etc. I think the state with the deployed contracts and cli args need to get completed before being able to try out in the wild.

[2022-01-10 22:23] mattsse commented on #316
oh I finally figured out what's causing this,
the change is correctly detected, however we're failing to recompile the `DssSpellTest` which inherits `DssSpellTestBase`. so we're recompiling `DssSpellTestBase` but not `DssSpellTest`

I believe this is simply an oversight in the change detection,
working on a fix.

[2022-01-11 00:35] brockelmore commented on #141
after some serious hacking on caleb's impl, i was able to run solmate is 10.8 seconds, vs 93secs on master @gakonst

[2022-01-11 01:39] CalebEverett commented on #141
@brockelmore - sorry about that - would love to see where you got to and try to get it cleaned up.

[2022-01-11 02:41] lattejed commented on #141
@CalebEverett awesome, I'll take a look at what you've done.

[2022-01-11 03:16] sambacha opened #416 "Bug: forge sends RPC requests for non-existent methods regardless of EVM Version specified"
## Bug: forge sends request for `eth_feeHistory` on non-london+ EVM Versions

When running `forge create` and specifying an EVM Version lower than `berlin` forge will attempt to request `eth_feeHistory`

Output
[code]

It *should* handle none, as I did not specify `numberOfRequestedBlocks`.

## Desired Behavior

by default it should use a value of 1 for `blockCount` and `newestBlock` - or simply d

[2022-01-11 08:21] leeren commented on #409
I was on an old version of Foundry. Although the custom error human-readable string is not printed, the encoded error data is shown, which is good enough!

[2022-01-11 09:20] dcposch opened #418 "forge test panic when logging negative numbers"
## summary

`forge test` panics with following error:

[code]

## steps to reproduce

**minimal reproduction**, excerpted from https://github.com/dapphub/ds-test/blob/master/demo/demo.sol

[code]

[2022-01-11 10:49] gakonst commented on #416
Good catch, this happens due to fee estimation [here](https://github.com/gakonst/ethers-rs/blob/e24117a1e1d6301d80101c7cc83c93ac4a8b1258/ethers-providers/src/provider.rs#L428-L455). The "real" fix is to check if the chain has enabled EIP1559, and if not, call `.legacy()` on the deployer.

[2022-01-11 10:52] gakonst commented on #418
This happens [here](https://github.com/gakonst/foundry/blob/master/evm-adapters/src/sputnik/cheatcodes/cheatcode_handler.rs#L119)

[2022-01-11 10:57] mattsse opened #419 "move CI integration tests to new rust integration test"
Maybe this allows us to get rid of the bash based integration test runner, and we just run the per-repo integration tests inside rust tests. For a future PR maybe, if we think that's useful

_Originally posted by @gakonst in https://github.com/gakonst/foundry/pull/406#issuecomment-1009826911_

[2022-01-11 11:08] sambacha commented on #416
why not just use a constant for `maxFeePerGas` - this is how both ethersjs and web3js are currently configured (2.5gwei)

[code]

for some reason I was thinking that `pragma` would change this behavior - thanks

[2022-01-11 11:16] gakonst commented on #416
Because having a constant max fee per gas is not really correct :D We re-use the algorithm that MyCrypto uses, using the historical values: https://github.com/gakonst/ethers-rs/blob/e24117a1e1d6301d80101c7cc83c93ac4a8b1258/ethers-core/src/utils/mod.rs#L300-L318, which tends to give better estimates in my experience vs hardcoded.

[2022-01-11 11:18] #416 closed

[2022-01-11 11:18] gakonst commented on #410
It would be nice if you could be more specific, do you mean like Watch expressions?

[2022-01-11 11:22] sambacha commented on #416
fyi this fails when using ganache (v7) - ganache does not have this RPC method implemented :(

[2022-01-11 11:31] gakonst commented on #416
Yeah Ganache is still not London compatible, nothing we can do about that lol. I added a `--legacy` flag you can use from the CLI, which will force usage of legacy transactions so you can still use it with Ganache.

[2022-01-11 11:33] #407 closed

[2022-01-11 11:33] gakonst commented on #407
@leeren should be fixed now in master

[2022-01-11 14:22] #382 closed

[2022-01-11 14:28] brockelmore commented on #141
https://github.com/gakonst/foundry/tree/brock/par_evm

take a look at my branch, should just work

[2022-01-11 15:07] lattejed commented on #141
@brockelmore Thanks, really appreciate it. Was getting grindy, mostly due to lack of familiarity with the project.

Are you going to merge this or are you suggesting I pull your changes into a PR. I can address your note there, sure.

Looks like you pulled contract deployment out of `MultiContractRunnerBuilder` and I don't see it replaced anywhere. Was that optional?

[2022-01-11 15:54] brockelmore commented on #141
@lattejed feel free to just open PRs against my PR. the deployment occurs in `new_sputnik_evm`, which is where we should grab the init logs. You cant do it in multicontractrunner because the address for the test contract will be wrong as it would deploy all of them sequentially with different nonces relative to a fresh evm

[2022-01-12 01:29] onbjerg commented on #410
I think the ask is to show the values of variables in the current scope, similar to how Truffle's debugger can output variables in scope (their `v` command).

[2022-01-12 01:41] crisgarner commented on #410
Exactly, just like truffle debugger. Here is a screenshot from the visual debugger:

![image](https://user-images.githubusercontent.com/578688/149048736-c1c855fe-c20b-4ab4-886f-898a71be6a87.png)

https://github.com/trufflesuite/truffle-plugin-debugger

[2022-01-12 05:52] lattejed commented on #141
@brockelmore FYI over a very basic set of tests I'm seeing a ~2.5x speedup 👍

I don't see a PR related to this from you. I'm currently working off your branch and will put together sth from there.

[2022-01-12 12:04] sambacha opened #429 "Question: cold start vs warm start compile times"
Basically wondering how much of a difference (if any statistically measurable amount exists that is) would there be if forge compiles from a dead cold start vs a pre-warmed state.

Pre warming would be compiling something like

[code]

for `x` amount of times.

Is there a potential worthwhile gain to warrant exploring this?

Cheers

[2022-01-12 12:48] gakonst commented on #429
WDYM pre-warmed state? There's caching in the compiler already, which saves some time. Calling it N times doesn't really do much. We also want to add forking caching to disk when pinned against a block, to avoid re-making network requests in forked tests.

[2022-01-12 13:03] sambacha commented on #429
So forge will support using an external store for cache persistence, e.g. redis (if you wanted to)?

[2022-01-12 13:10] onbjerg commented on #249
`DAPP_TEST_CALLER` is (mistakenly) not used by Forge, it uses `DAPP_TEST_ADDRESS` to set the sender (see #253). If you set `DAPP_TEST_ADDRESS` to `0x00a329c0648769a73afac7f9381e08fb43dbea72` then the first test contract address will match dapptools

[2022-01-12 13:41] brockelmore commented on #326
May i suggest to reduce external dependencies like `jq`, that we make it a cheatcode for loading deplyoment (and runtime) bytecode from a compiled contract? This would also make the `etch` cheatcode more useful i imagine

[2022-01-12 14:42] gakonst commented on #326
Supportive @brockelmore

[2022-01-12 15:09] mds1 opened #432 "bug: `mockCall` not working as expected"
The tests in `CheatCodes.sol` passed, however the test below fails. Tagging @onbjerg here since you implemented this feature originally in #403

[code]

[2022-01-12 15:14] onbjerg commented on #432
Maybe the documentation was a bit confusing - `outer` is not making a call in the EVM sense of the word, it is just jumping to a new location in the code of the contract. `mockCall` only works for calls between accounts

[2022-01-12 15:18] mds1 commented on #432
Ah that makes sense. Changing `return inner()` to `return this.inner()` does result in the test passing.

However as a user I'd expect (and personally would like) the above usage to pass, even though we're jumping to `inner()` and not calling. Having `inner()` return different values based on whether it was a call vs. jump seems undesirable

[2022-01-12 15:35] lattejed commented on #141
@brockelmore this is ready to merge into your branch. Fixed a couple of minor issues and updated the tests.

[2022-01-12 15:50] onbjerg commented on #432
Hmm, this is going to be pretty difficult. We can get the locations of different calls in the bytecode using `functionDebugData` from the Solidity compiler JSON output, but the names are a bit mangled (something like `@<actual name>_<some id>`) and we would also have to hook into jump instructions which I am not sure we are equipped to right now (think we would have to hook [here](https://github.c

[2022-01-12 15:59] onbjerg commented on #432
Very briefly skimming it looks like it would be a lot easier if we used revm, but I'm not sure what the drawbacks are

[2022-01-12 16:17] hexonaut commented on #316
Tried this again. Still getting the same issue. Oddly enough I'm using test inheritance in another project and that one works fine.

Here is steps to reproduce on `spells-mainnet`:

1. Load this branch: https://github.com/makerdao/spells-mainnet/tree/add-forge-test and run `forge test --fork-url "$ETH_RPC_URL"` (set the rpc url)
2. Change any line in `DssSpell.t.base.sol`. In particular I swap L25

[2022-01-12 16:45] hexonaut opened #433 "Stack Trace on setUp() fail"
If `setUp()` reverts, forge will panic instead of printing out the revert stack trace. This is sub-optimal for development as reverts are quite common as your building out tests. Would prefer this to output the error as if the revert was in the test itself.

[2022-01-12 17:42] mattsse commented on #316
thanks!
very helpful,

tried to replicate the case here

https://github.com/gakonst/ethers-rs/blob/4d2cd83698788ae090aeefd508c27631bd8d5f12/ethers-solc/tests/project.rs#L141-L222

which seems to work properly,
but this will help me to track down the root issue

[2022-01-12 18:28] hexonaut commented on #316
Have you tried my exact replication steps outside of that test? There is something in particular about spells-mainnnet that is broken.

[2022-01-12 18:55] crisgarner opened #436 "Request for tutorials"
List of requested tutorials
- [x] getting started
      - Getting Started by Crisgarner:  https://mirror.xyz/crisgarner.eth/BhQzl33tthkJJ3Oh2ehAD_2FXGGlMupKlrUUcDk0ALA
      - Getting Started by Wilson: https://w.mirror.xyz/mOUlpgkWA178HNUW7xR20TdbGRV6dMid7uChqxf9Z58
      - https://youtu.be/wqFnif_6Mbc
      - Foundry Book (https://github.com/onbjerg/foundry-book)
- [x] basic dir structure

[2022-01-12 20:12] leeren commented on #407
Amazing, thank you!

[2022-01-13 02:12] mds1 commented on #387
Hey @yaronvel—I'm not too familiar with how you'd implement this in practice, and foundry doesn't yet have any symbolic execution capabilities, so this probably won't be the first path we go down. However I've always thought seeding the fuzzer with solver outputs would be valuable, so would love if you could elaborate more!

[2022-01-13 02:17] ncitron commented on #326
If nobody else has, I'd like to give this one a shot. I've been wanting this feature for a while now in dapptools/foundry.

[2022-01-13 02:20] mds1 commented on #387
Thanks @wuestholz this looks great, planning to read this soon. Only question until then is: looks like the paper is from November 2020, so is there anything you've learned since then that isn't covered in the paper, or anything you'd change if writing a similar paper today? It's only about a year old, but a year is a long time in the smart contract world! 😁

[2022-01-13 06:10] lattejed commented on #392
Looks like the core issue here, like @gakonst pointed out, is that `BTreeMap` is being used and test names in forge are of the format:

`<filename>:<name>`

so duplicates names as keys are being discarded. In dapptools they're fully qualified:

`<path>/<filename>:<name>`

An easy fix would be to replace `BTreeMap` with a `Vec` of tuples or similar.

It also might make sense to change it upstream [

[2022-01-13 06:15] lattejed commented on #392
Here's the output from the example project if any clarity is needed:

dapptools:
[code]

forge:
[code]

[2022-01-13 07:22] lattejed commented on #418
This is happening because the value is being passed through `U256::from_dec_str` from [here](https://github.com/paritytech/parity-common) which doesn't expect a `-`

So -- are negative values here valid?

Would be easy enough to work around if so. If not, maybe this just needs a better error message.

[2022-01-13 08:39] lattejed commented on #418
Looks like [this](https://github.com/gakonst/foundry/pull/361) is related. @mds1 are you still working on this?

[2022-01-13 09:13] wuestholz commented on #387
😁 We're continuously improving Harvey based on feedback from auditors and clients. We're planning to write up one of the novel techniques we added soon (spoiler alert: up to 30% coverage increase for some of our benchmarks). I think all the lessons in the paper still apply today, but we've definitely been optimizing Harvey more for property checking (for instance, in combination with our [Scribble

[2022-01-13 09:29] lattejed commented on #418
Workaround here: #441

If I256 support gets added upstream, this should be removed

[2022-01-13 10:10] gakonst commented on #387
How much of the specification/property writing do you think we can overload into Solidity syntax, vs having a separate language?

[2022-01-13 10:11] gakonst commented on #432
We intend to switch over to Revm eventually, is the problem that hooking so deeply into sputnik can be hard, whereas revm's inspectors are cleaner?

[2022-01-13 10:58] gakonst opened #442 "Text file busy flake in tests"
For some reason, tests fail sometimes with the error below:

[code]

Other times it fails with this one:

[code]

I suspect this might be related to the Solc downloader trying to download a binary multiple times, and write it over an existing file? Not sure.

[2022-01-13 11:18] gakonst commented on #349
@smsunarto This should be fixed in latest master https://github.com/gakonst/foundry/commit/f8f595e5c398de8856a8bb22f35931820919efaf

[2022-01-13 11:53] #418 closed

[2022-01-13 12:19] wuestholz commented on #387
@gakonst I'm hoping a lot! 😁 We're trying to keep Scribble as simple as possible. Ideally, a Solidity developer can understand most specifications "out-of-the-box"; for instance, we allow regular Solidity expressions whenever possible, and only extend the syntax slightly when needed (for instance, `old`-expressions in postconditions).

From my perspective, the Solidity team can "steal" as much of

[2022-01-13 12:39] lattejed opened #443 "Correct formatting of decimals in ds-test logs"
This is related to #361 which seems to have caused a regression [here](https://github.com/gakonst/foundry/blob/53984da48d2f03e9b777cec92fde860bf7361729/evm-adapters/src/sputnik/cheatcodes/cheatcode_handler.rs#L131).

The test was updated [here](https://github.com/gakonst/foundry/blob/53984da48d2f03e9b777cec92fde860bf7361729/evm-adapters/src/sputnik/cheatcodes/cheatcode_handler.rs#L1711) to pass.

[2022-01-13 12:46] gakonst commented on #443
Yes, for anything logging like this I believe we should match dapptools. If you can go for it it'd be great.

[2022-01-13 16:05] crisgarner commented on #402
I would rename it to `vm.deploy();` and select network like:

[code]

env variables for keys and .toml for paths, rpcs, and some configurations.

What I like about hardhat deploy plugin, is that you can deploy and run additional commands, like initial calls for setups or stuff like that.

[2022-01-13 16:25] onbjerg commented on #432
Yeah, it's pretty much impossible for us (as far as I can tell) to hook into the actual stepping of the EVM itself with Sputnik, but revm inspectors solve this by giving us full control

[2022-01-13 17:21] brockelmore commented on #402
we should be able to just deduce where you want to deploy to based on the RPC you provide

[2022-01-13 18:43] crisgarner commented on #402
Usually we reuse deploy scripts for different networks

[2022-01-13 18:51] brockelmore commented on #402
Thats my point - when someone does `forge create ./deploy/* --rpc-url <xxxxx>`, we leverage the rpc url to deploy. if there is a config file and no rpc provided, we can force them to specify the network

[2022-01-13 20:10] #433 closed

[2022-01-13 21:43] #253 closed

[2022-01-13 21:51] onbjerg commented on #249
Hmm, this seems to not have been fixed anyway, which is strange. The sender is correct, but now the test contract address is always incorrect (not even the first one matches)

[2022-01-13 21:53] gakonst commented on #249
You are right, it is still happening. Unsure / haven't debugged.

[2022-01-13 21:53] gakonst commented on #253
@onbjerg confirming that this is correct to be closed right?

[2022-01-13 22:08] d-xo commented on #402
Would you be able to reuse the deployment contract as a test fixture if it contains calls to `vm.mainnetDeploy`?

[2022-01-13 22:09] onbjerg commented on #249
Figured out the issue, it seems that the dapptools address is from nonce 1 of the `0x00a329c0648769A73afAc7F9381E08FB43dBEA72` account whereas we deploy the contract at nonce 0.

PR #446 fixes it

[2022-01-13 22:11] onbjerg commented on #253
Yes, this is correct

[2022-01-13 22:23] brockelmore opened #447 "feat(forge): stack traces grab contracts from etherscan when forking"
When forking, we really should grab the etherscan contracts if the user has provided an etherscan api key

potential logic:
1. execute test
2. check if forked evm
3. identify known contracts for trace
4. check unidentified contract addresses on etherscan
5. compile contracts from etherscan
6. update traces with new known contracts

[2022-01-13 22:30] crisgarner commented on #402
Sounds good, but might me confusing doing `forge create ./deploy/* --rpc-url <rinkeby.xxx>` and in the contract `vm.deployMainnet();`

[2022-01-13 22:38] #249 closed

[2022-01-13 22:50] SamWilsn opened #448 "Minimum Supported Rust Version (MSRV) not enforced in CI"
The [README](https://github.com/gakonst/foundry/blob/a49473af557b3ce72efdd0ca4aecc5052b66e7aa/README.md#minimum-supported-rust-version) says:

As far as I could tell, only the `stable` toolchain is checked through GitHub actions.

[2022-01-13 23:01] brockelmore commented on #47
is this still relevant?

[2022-01-13 23:09] mattsse opened #449 "summarize failed tests and nicer error message"
if `forge test` encounters a failing test, it exits with a panic!,

[code]

especially the location part makes it feel that something else went wrong.
this logic is already separated and enforced if

https://github.com/gakonst/foundry/blob/a49473af557b3ce72efdd0ca4aecc5052b66e7aa/cli/src/cmd/test.rs#L182-L196

instead of bailing we should exit here with error code and also summarize the failed tes

[2022-01-13 23:16] mattsse commented on #47
think we can close that @gakonst

[2022-01-13 23:38] #47 closed

[2022-01-13 23:38] gakonst commented on #47
Yeah not needed anymore

[2022-01-14 02:53] mattsse commented on #316
finally found what I believe is the actual root cause for this, it has to do with how we're currently managing the absolute path and the source name of contracts which gets mixed up somehow, probably a remappings/cache/absolute path snafu.

this is also the cause for https://github.com/gakonst/ethers-rs/issues/727.

I know how to fix that now and also test against it.

[2022-01-14 05:08] brockelmore opened #450 "filter deployable contracts again"
Still investigating but a user encountered a failure to deploy a test contract in `runner.rs`. Our assumption that `evm.deploy` can't fail at that point is wrong, but I think this is my bad. In the deployable contracts mapping creation, I think I removed the filtering we had before for no-input constructors only.

[2022-01-14 05:13] brockelmore commented on #450
https://github.com/gakonst/foundry/blob/115df466338cde089d73c7f42bfbeaf9bd5fe0ea/forge/src/multi_runner.rs#L68

This is the regression line - should filter as we used to. my bad

[2022-01-14 07:39] lattejed commented on #443
Looks like I reversed this:

The changes made to `LogNamedDecimalUintFilter` were actually correct and brought it in line with dapptools.

`LogNamedDecimalIntFilter` for some reason was not fixed at the same time and was never correct, regardless of negative value handling.

@gakonst the inconsistency you saw was from the incorrect `LogNamedDecimalIntFilter`.

I'll get it cleaned up

[2022-01-14 10:04] lattejed commented on #443
This should be ready to go.

The new version of `LogNamedDecimalIntFilter` uses `I256` from ethers-rs and probably doesn't need upstream support as I mentioned in  #441

[2022-01-14 10:11] lattejed commented on #392
@mattsse what do you think about changing ethers-solc to return names that are more in line with dapptools? Or, possibly keeping things as they are but storing / exposing the additional info (path, anything else that makes sense) so it can be used downstream?

Happy to do it

[2022-01-14 11:50] mattsse commented on #392
@lattejed definitely, can you open an issue on ethers-rs with a rational/proposal.
I also like the idea of making this configurable with the upcoming config, https://github.com/gakonst/foundry/blob/f9007fa8c238ffbb1365b26460a949ead303c046/config/README.md

there are other things we should think about when it comes to naming of the artifacts: preventing artifact collisions entirely

for example
if

[2022-01-14 12:25] #331 closed

[2022-01-14 12:52] lattejed commented on #392
Sounds good @mattsse I'll do that. I caught the artifact discussion elsewhere, I'll take a look including that as well.

[2022-01-14 15:38] #443 closed

[2022-01-14 16:27] lattejed commented on #392
Opened an issue here for discussion https://github.com/gakonst/ethers-rs/issues/791

[2022-01-14 18:04] #450 closed

[2022-01-14 18:33] alcibiadeseth commented on #283
I am going to close this given the new readme and ability to detect remappings installed in that way.

[2022-01-14 18:33] #283 closed

[2022-01-14 21:57] alcibiadeseth opened #454 "forge remappings.txt ignored"
Entries in `remappings.txt` seem to be ignored by the present version of forge.

[2022-01-14 22:00] alcibiadeseth commented on #454
[code]

[code]

[code]

It seems like only detected remappings are used.

[2022-01-14 22:05] gakonst commented on #454
The `forge remappings` command outputs the auto-detected remappings, whereas the `remappings.txt` is merged into the auto-detected ones inside `forge test`as you can see [here](https://github.com/gakonst/foundry/blob/764c69cc758f15183ce104ccd6c18d9374b03162/cli/src/cmd/build.rs#L161-L187).

Closing as this is intended behavior

[2022-01-14 22:05] #454 closed

[2022-01-14 22:09] alcibiadeseth commented on #454
@gakonst what I am saying is that the autodetected mappings are not presently overridden by `remappings.txt`, shouldn't they be?

[2022-01-14 22:11] alcibiadeseth commented on #454
Moreover, I figured out the cause, the project is incorrectly detecting the root. I have a git project with a folder called `contracts`, within which is the foundry project, including `remappings.txt`, with a `pwd` of `contracts/`, the project root is incorrectly detected as `../`, which doesn't contain any solidity code. The `remappings.txt` override works successfully if I specify the full path

[2022-01-14 22:12] gakonst commented on #454
Yep this is a known bug which will be addressed in #297, the workaround to this in monorepos is `forge test --root .`

[2022-01-14 22:12] alcibiadeseth commented on #454
Awesome, that makes sense.

[2022-01-14 22:28] dcposch opened #455 "feat: forge create ... --interactive"
## summary

the `cast` command allows a handful of authentication options, including `--private-key` (for an inline private key) and `--interactive` (to prompt for a private key interactively).

it looks like `forge create` supports the first option but not the second.

**version:**
[code]

[2022-01-14 23:15] alcibiadeseth opened #456 "ethers_solc fails to resolve versions"
[code]

[code]

[2022-01-14 23:16] alcibiadeseth commented on #456
This behavior doesn't seem congruent with expectations.

[2022-01-14 23:43] alcibiadeseth commented on #456
[code]

[2022-01-14 23:54] dcposch opened #457 "forge: contract JSON ABI incorrectly specifies "constant": false"
## summary

forge outputs JSON ABIs like the following:

[code]

when loading in ethers.js, this gives the following (slightly misleading) error:

[code]

looking deeper, it appears that ethers.js expects `"constant"` to be true if and only if `"stateMutability"` is `"view"` or `"pure"`:

https://github.com/ethers-io/ethers.js/blob/73a46efea32c3f9a4833ed77896a216e3d3752a0/packages/abi/src.ts/fragm

[2022-01-14 23:56] dcposch commented on #457
### specification confirms this is a bug

the Ethereum JSON ABI spec agrees with `ethers`.

[code]
https://docs.soliditylang.org/en/v0.5.3/abi-spec.html#json

[2022-01-14 23:57] dcposch commented on #457
### steps to reproduce

run forge build on following contract:

https://ropsten.etherscan.io/address/0x69ee459ca98cbdecf9156b041ee1621513aef0c6#code

inspect output JSON ABI

[2022-01-15 00:15] crisgarner opened #458 "Fuzz sends wrong value for ints"
Doing fuzz with int8 throws an exception. In the following example, the error happens as the _num variable in the fuzz receives the 128 value and can't be parsed to an int8.

[code]

manually taking the value of the fuzz revert and trying to cast it throws this error:

[code]

[2022-01-15 00:43] SamWilsn opened #460 "`forge init` should fail if the current working directory isn't empty"
I ran `forge init` with no arguments in my `~/Code` directory, and it made a new git repository that recommended adding all my unrelated projects as submodules.

`forge init` should probably fail to run in a non-empty directory, unless a `--force` option (or similar) is given.

[2022-01-15 00:58] SamWilsn opened #461 "Template files created by `forge init` are licensed under The Unlicense"
In the interest of having sane and safe defaults, the license specifier should probably be `SPDX-License-Identifier: UNLICENSED`, and not `SPDX-License-Identifier: unlicense`.

Wouldn't want to accidentally make someone release code in the public domain.

[2022-01-15 01:03] brockelmore commented on #458
likely an off-by-one here: https://github.com/gakonst/foundry/blob/4d3c8d5194d7ff5c821e07059b9f04104ac059d8/evm-adapters/src/fuzz.rs#L262-L266

h/t @mds1

[2022-01-15 01:12] brockelmore commented on #458
solution: dont use sign as a prop, it allows for a +128 which is impossible

[2022-01-15 08:15] totlsota opened #464 "cast failing to compile"
## OS:
Mac 11.5

## Install command
[code]

## Issue:
cast fails to compile with error below

forge binary builds and runs fine

## Error trace
***
[code]

[2022-01-15 12:26] youngkidwarrior commented on #464
It seems this change to ethers-rs is the cause
[code]
[code]

[2022-01-15 13:44] mattsse commented on #460
hmm, I think it should still if for example the dir already contains a README or license etc.

But yeah the problem is that we do a blind `git add .` which also adds inner repos, we should scan nested existing dirs (not called `lib`) and fail with we encounter a git repo

worth having a look at `cargo init`

https://github.com/rust-lang/cargo/blob/06b9d31743210b788b130c8a484c2838afa6fc27/src/cargo

[2022-01-15 13:54] mattsse commented on #464
there was a breaking change on [solang-parser](https://github.com/hyperledger-labs/solang)

fixed on ethers-rs here, https://github.com/gakonst/ethers-rs/pull/796

then needs a `cargo update -p ethers` here

[2022-01-15 14:00] mattsse commented on #457
I think this is a serde issue, which emits `constant: false` even if we set it to `None`

https://github.com/rust-ethereum/ethabi/blob/199e307462ea6ad17c3ff48dcba8aa42b23cb2c3/ethabi/src/function.rs#L31-L35

instead of `serde(default)` in should be `#[serde(default, skip_serializing_if = "Option::is_none")]`

I think we can ignore `constant` entirely at this point @brockelmore ?

[2022-01-15 14:29] brockelmore commented on #457
Older compiler versions still output it but i think outright ignoring is fine as it's not needed

[2022-01-15 15:56] onbjerg opened #466 "Apple M1 tracking issue"
We can't compile for Apple M1 in CI currently because some packages break even when we try to cross-compile.

Will try to gather relevant issues here for tracking

- https://github.com/rust-bitcoin/rust-secp256k1/issues/283
- https://github.com/rust-lang/rust/issues/73908

[2022-01-15 16:04] #464 closed

[2022-01-15 16:05] gakonst commented on #461
SGTM, PR welcome for it!

[2022-01-15 17:24] brockelmore commented on #466
I am not sure if we are able to, but adding this to cargo config has fixed issues in the past for M1 stuff. May be worth a shot trying

[code]

ref: https://stackoverflow.com/questions/28124221/error-linking-with-cc-failed-exit-code-1

[2022-01-15 17:24] #458 closed

[2022-01-15 17:49] brockelmore commented on #466
better solution: remove the need of secp256k1 crate all together by refactoring this: https://github.com/bluealloy/revm/blob/main/crates/revm_precompiles/src/secp256k1.rs

[2022-01-15 22:23] #466 closed

[2022-01-15 22:53] transmissions11 opened #471 "Incredibly minor flaw: double space in `cast interface` output"
[code]

notice the double spaces before the standalone `external`s

[2022-01-15 23:13] gakonst commented on #471
Good find. Independently of that, do you find the command working nicely?

[2022-01-15 23:44] onbjerg opened #472 "Keep 3 days worth of nightlies"
We should keep 3 days worth of nightlies. Each nightly will have a new tag (like `nightly-${commitish}`) in addition to the `nightly` tag.

Unfortunately we can't download off of the `nightly` tag unless it is the main tag used for the release, but we can't have it be the main tag either, since that would just override the previous nightly release.

So we need to:

1. Find the commit that the  `ni

[2022-01-16 13:47] gakonst commented on #402
We can just call it vm.deploy() to avoid the confusion I think?

[2022-01-16 17:00] crisgarner opened #473 "Issue with arguments using forge create"
Currently deploying a contract with multiple arguments require `forge create` command to use multiple times the param `--constructor-args`

[code]

Suggestion, change it to only require one argument call

[code]
Fix might be around here: https://github.com/gakonst/foundry/blob/master/cli/src/cmd/create.rs#L54-L55

[2022-01-16 18:33] brockelmore commented on #402
What do people think about `broadcast` as the cheatcode? it makes it agnostic to create/call style transactions, as well as what network youre sending to.

[2022-01-16 18:47] gakonst commented on #402
Good point^

So maybe

[code]

Would produce 2 ethers-rs `TypedTransaction` which then we could either serialize, or immediately broadcast?

[2022-01-16 18:51] brockelmore commented on #402
we also need to simulate it and make sure it doesnt fail - also would be good to give the gas costs

[2022-01-16 18:53] gakonst commented on #402
Wonder how we'd handle idempotency, e.g. if for whatever reason it fails at the first call, how does it know to resume from the second one? @moodysalem any thoughts here (cf the v3 deployer from some time ago)

[2022-01-16 18:55] brockelmore commented on #402
one option is that when we send a tx, we record it in a cache file - with deployed addresses and what not. I think hardhat does something similar. and if we have a cache, we pickup where we left off unless they pass a flag to restart the deployment (we would need to include the chain it was deployed to tho for multichain deployments, like local node vs mainnet)

[2022-01-16 19:19] lucas-manuel commented on #402
Yeah I think this is a great idea and would definitely use it.

A couple of ideas (echoing some that are above but wanted to have a comprehensive list):
- "Dry-run" deployments on mainnet forks
- Gas cost summaries of deployments
- Some sort of artifact that gets generated with all deployed addresses (and tx hashes maybe)
- Being able to ensure auto-verification of all deployed contracts (single f

[2022-01-16 19:23] gakonst commented on #473
Could also be clap related? https://github.com/gakonst/foundry/blob/master/cli/src/cmd/create.rs#L22-L23

[2022-01-16 21:35] mds1 commented on #402
I like all the ideas on @lucas-manuel's list, and would like to add two more:
- A way to specify expected deployer account and nonce, or alternatively perhaps a way to specify expected contract address
- Ensure deploy scripts are easily reusable as `setUp()` logic, to easily run tests against deployed state

[2022-01-16 21:46] onbjerg commented on #402
Putting this here: https://github.com/EthWorks/Mars

Mars has dry-runs, gas cost summaries, automatic deployment of only parts of your code that changed etc. We could probably borrow some ideas from there

[2022-01-17 01:20] clifton opened #476 "bug(forge): missing error reason when sending ether fails during fn call"
attempting to send ether via fn call from an address that has no ether fails with `[FAIL. Reason: ]`

[code]

[code]

this might be a good one for me to dig into the testing internals.

[2022-01-17 01:43] onbjerg commented on #476
What does it say if you run it with traces on? `forge -vvv`

[2022-01-17 02:40] clifton commented on #476
[code]

[2022-01-17 04:27] SamWilsn commented on #460
I think the simplest option (just fail if the directory is non-empty) is probably good enough to cover 80% of cases. If someone really wants to `init` a non-empty directory, `--force` would unblock them.

[2022-01-17 05:50] onbjerg opened #478 "tracking: add mutation testing support"
## Description

Mutation testing is used to design new tests and evaluate the quality of an existing test suite. In other words, it can tell you about the quality of your tests, where coverage only tells you about how much code you have not yet written a test for.

It works by changing the behavior of a program by changing parts of the code ("mutating it"), running the test suite with this new mut

[2022-01-17 05:57] onbjerg commented on #478
More notes:

- You can identify weakly tested pieces of code: mutations are not killed for these snippets
- You can identify weak tests: they never kill mutants

[2022-01-17 05:58] clifton commented on #476
this is what the error looks like rom the test runner:

[code]

given:

[code]

and this patch applied to forge test

[code]

[2022-01-17 08:33] #471 closed

[2022-01-17 08:45] transmissions11 commented on #471
ye its great! only wish it could parse struct fields but ig thats not included in the abi?

[2022-01-17 10:13] gakonst commented on #471
Yeah I think so, didn't seem to contain names, just the types

[2022-01-17 11:11] onbjerg opened #479 "`expectRevert` ergonomics"
We should have two more `expectRevert` signatures:

- `expectRevert(bytes4)` so you can do e.g. `expectRevert(Contract.CustomError.selector)`
- `expectRevert(string)` so you can do e.g. `expectRevert("foo")`

Currently you can achieve both of these but it requires casting and/or `abi.encodeWithSelector`

[2022-01-17 12:13] gakonst commented on #479
FYI @brockelmore

[2022-01-17 12:14] gakonst commented on #478
Related DappTools PRs/Issues:
* https://github.com/dapphub/dapptools/pull/829
* https://github.com/dapphub/dapptools/pull/687

[2022-01-17 12:17] onbjerg commented on #99
More notes:

- What's missing: HEVM approach does not account for branching in logical statements (||, <, &&, >, ==, etc) in requires (and in other places?)
- HEVM approach is this: On each step, look up where we are in the bytecode, then map that onto the relevant line in the source code and increment the "visited" counter on that line by 1. Any line that has been visited at least once is conside

[2022-01-17 12:29] onbjerg commented on #479
Not sure what the plan is for `forge-std` but this could technically be implemented in "userland" as a wrapper around the already existing `expectRevert`

[2022-01-17 12:50] onbjerg commented on #442
Going by backtrace:

[code]

We end up at `MultiContractRunnerBuilder::build` that can only return an `Err` in one place, which is when it calls `project.compile()?`. Since we're running with `--all-features` we end up in `Project::svm_compile` for the next `Result`.

My best bet is that *either* it is that we are building the same contracts in two tests, so the cache/artifacts are being written a

[2022-01-17 12:57] gakonst commented on #442
@mattsse this seems to align with how we've been thinking about the caching issue?

[2022-01-17 13:01] mattsse commented on #442
so text file busy happens if a program tries to modify a file that's currently being executed or otherwise used.

this could be a race condition within our svm abstraction.
is there a way to reproduce this?
`RUST_LOG=ethers=trace` should also be helpful to locate the root cause

[2022-01-17 13:03] onbjerg commented on #442
To reproduce: run `cargo test --all --all-features -- --test-threads=high number` where high number is the amount of threads you are able to use before your computer flies off into space. For good measure also delete or move `$HOME/.svm` before running. Run until the test fails. :shrug:

[2022-01-17 13:05] mattsse commented on #442
that makes a bit more sense now,
this happens only during tests, right?

[2022-01-17 13:07] gakonst commented on #442
Yeah that's typically what happened in the past, which I thought we had solved with a mutex, maybe the mutex got lost during our ethers-solc refactors?

[2022-01-17 13:17] mattsse commented on #442
lock in test is still there but perhaps this is an integration test issue where multiple bins are executed

maybe we can try using a lockfile instead, https://crates.io/crates/fslock ?

[2022-01-17 13:20] mattsse commented on #442
Oh I think I've found it,

I changed version detection in the new graph implementation

[2022-01-17 15:05] brockelmore commented on #479
Errors dont have selectors i dont believe. They are second class functions :(

[2022-01-17 15:08] brockelmore commented on #478
potential inspiration: https://github.com/JoranHonig/vertigo
the paper: https://sci-hub.ru/downloads/2019-09-21/f6/10.1007@978-3-030-31500-9.pdf#chapter.19

has some good tips in it like knowing what test hits a particular mutation

we could do this by:
1. running all tests, build up a mapping of op -> Vec<test>
2. perform mutation
3. run all tests for a mutated op

Vertigo works on solidity, but

[2022-01-17 15:10] brockelmore commented on #479
i literally tried this when i was implementing expectRevert lmao i must have messed it up

[2022-01-17 15:12] onbjerg commented on #478
alternatively we could sacrifice some disk space by copying the source of the project into `cache/tmp/mutation-{1,2,3,n}`, performing the mutation and in parallel spawn `forge test --src ./cache/tmp/mutation-{1,2,3,n}` (you get the idea).

if the command exits with status 0 the tests passed, otherwise they failed. afterwards we clean up by deleting those directories (or keep them around for diffin

[2022-01-17 15:13] onbjerg commented on #479
:thinking: weird it works now at least. i haven't been able to get it to work with _some_ parameters to the errors though, like strings. seems like they are encoded slightly differently even though the solidity docs say errors are encoded in exactly the same way as a function with some calldata

[2022-01-17 15:35] onbjerg commented on #409
If you check docs.rs for ethers it is not, but it is in ethabi upstream. Not sure if we just haven't published in a while.

[2022-01-17 16:54] onbjerg opened #482 "Allow dependency-less projects"
Currently if you create a directory with just a contract and issue `forge build --contracts Contract.sol` then `forge` will fail:

[code]

If you create an empty `lib/` directory this works fine.

[2022-01-17 16:56] fmhall commented on #473
Can we add a `--verify` flag to `forge create`? Does that make sense?

[2022-01-17 17:14] gakonst commented on #473
@fmhall this is tracked in #287 #354

[2022-01-17 18:46] mattsse commented on #482
yeah I discovered that myself, this already fixed in the config branch ref #291 , but I haven't submitted a separate fix

[2022-01-17 18:51] mattsse commented on #456
thanks for this, I can add some additional tests to ethers-solc.

however looking at:

[code]

looks like the error is correct?

The way it's currently supposed to work is, that we fetch all versions available, either not installed yet or installed and filter them based on the requirements of a contract's imports

[2022-01-17 18:59] alcibiadeseth commented on #456
What is odd here is that both of those versions were indeed installed.

[2022-01-17 19:04] mattsse commented on #456
but these contracts aren't compatible,
because `Exponential.sol` can only be compiled with 0.5.x and `LiquidityProviders.sol` with 0.8.x

we catch that throw an error instead, but messaging is indeed poor, it should highlight the contracts that are in fact incompatible.

[2022-01-17 19:07] alcibiadeseth commented on #456
Ok, that makes more sense than the present message.

[2022-01-17 23:20] gakonst commented on #291
Minor point that `source .dapprc` would need to happen outside of the migrate command, since it proved to be quite hard to run a shell script and get its outputs https://github.com/gakonst/foundry/pull/190

[2022-01-17 23:23] gakonst commented on #482
@mattsse whcih part of the code in that branch addresses the issue? i seem to not be seeing it

[2022-01-17 23:44] mattsse commented on #482
I believe it was just this

https://github.com/gakonst/foundry/pull/297/files#diff-ef70820a1a4c9a088e76cd9627077144e3bbb14b255ad298c2762be58f13f09bR47

[2022-01-18 00:16] gakonst commented on #482
Ah right but this will create a lib dir, was wondering if we could make a ethers-solc work if only a src dir was provided and no lib dir exists

[2022-01-18 00:52] dcposch opened #487 "panic on deploy, "no bytecode found in bin object""
## summary

see log below.
- `forge build` completes successfully. compiled JSONs *are* written to `out/`, including bytecode.
- `forge test` returns successfully, but does not actually run any tests (!)
- `forge create` panics, "no bytecode found in bin object"

## version

`foundry-cli 0.1.0`

(as an aside... it might be good to print the git commit as part of `cast --version`. i think 0.1.0 may

[2022-01-18 03:08] nicolasgarcia214 commented on #411
Another temporary solution is to decrease the font size of the terminal.
PS: Not the best solution in terms of UX and accessibility.

[2022-01-18 05:25] onbjerg commented on #241
Should close this now that we upstreamed `foundryup`

[2022-01-18 10:28] dcposch commented on #487
## steps to reproduce

i reproduced on nightly.

i also bisected by removing code from the contract.

1. clone https://github.com/dcposch/btcmirror
2. check out `forge-bug-487` branch
3. run `forge test`. this will **appear to succeed but not actually run any tests.**
4. `git checkout HEAD^ && forge test`. on the previous commit, the tests run (and fail) as expected.

**the only difference between

[2022-01-18 10:29] dcposch commented on #487
i doubt it matters, but i'm using macOS 11.4

[2022-01-18 10:48] onbjerg commented on #487
Hey, just want to let you know that I am looking into it. It's a strange one for sure. Will get back to you

[2022-01-18 11:17] onbjerg commented on #442
I don't think an in-process mutex solves it, think we do need a lockfile. AFAIK tests are built as a special executable that Cargo just runs in parallel or something :/

[2022-01-18 11:26] onbjerg commented on #487
Ok I think I figured it out. You're using a library and apparently we are not linking them here for some reason? The `bin` and `bin-runtime` values in the output contain the placeholders at least (cc @mattsse)

It does work as @dcposch said if you go up one commit on the branch and there is no change to the library, just a visibility change. It's really strange

[2022-01-18 11:38] odyslam commented on #487
I have encountered this in the past.

Could it be that some dependency files (e.g some library) have different pragma requirements and thus forge can't sompile the whole project using a single version of solc.

I remember that forge had the restriction

[2022-01-18 11:44] onbjerg commented on #487
No they use the same pragma (the library in question is in `src/Endian.sol`)

[2022-01-18 12:22] gakonst commented on #442
I think adding a lockfile under ~/.svm and the artifacts dir could be a fine solution honestly, as long as it gets cleaned up instantly and we document it nicely (it's never cool when the user needs to manually remove index/lockfiles)

[2022-01-18 12:38] #461 closed

[2022-01-18 12:53] onbjerg commented on #442
Ok, looked at it to be sure, it does *not* run the executable multiple times side by side. Perhaps it's just because we call other install methods than `Solc::ensure_installed` so the lock should actually be in `Solc::install` and `Solc::blocking_install`

[2022-01-18 13:23] #449 closed

[2022-01-18 13:24] gakonst commented on #241
Yep good call. Godmode work @transmissions11, now in https://github.com/gakonst/foundry/tree/master/foundryup

[2022-01-18 13:24] #241 closed

[2022-01-18 13:27] gakonst commented on #473
Hmm reading through the warnings, it seems like it should be fine? I don't think we'd ever have any positional arguments for `--constructor-args`, only named args? We can enable this with `raw` in clap derive if I'm not mistaken - I'd be supportive of doing that.

[2022-01-18 13:28] gakonst commented on #222
Re-opening as we still do not support

[2022-01-18 13:42] onbjerg commented on #473
Yeah I think in this case it is fine

[2022-01-18 13:44] onbjerg commented on #487
Ah, that makes sense. So this was a linker issue after all

[2022-01-18 13:47] gakonst commented on #487
Closing and let's consolidate to #222

[2022-01-18 13:47] #487 closed

[2022-01-18 14:14] lattejed commented on #392
Upstream PR changes output for forge to:

[code]

PR still WIP

[2022-01-18 14:14] onbjerg opened #494 "feat: establish release channels"
I think we need a better construct for release channels. For nightly the setup in this PR works fine, but for stable it does not: the primary tag of the release is not a `stable-$SHA` tag, it's a `vx.y.z` tag. I looked at GitHub's API and there is no way for us to get all tags pointing to a specific commit unless we literally just iterate over all tags in the repository (worst case).

An alternati

[2022-01-18 14:16] onbjerg opened #495 "Release checksums"
:lock: We should really checksum our releases. Requires a change in the CI and (preferably also) `foundryup`

[2022-01-18 14:44] mds1 commented on #29
I'll add comments to this issue for features that I've noticed are missing as I attempt to replace `seth` with `cast` during my normal usage:

- `cast call` does not support the `--block <block>` flag for querying historical data
- as noted in the readme, `cast run-tx` is not supported—I used the `--trace` and `--debug` modes often

[2022-01-19 00:37] transmissions11 opened #498 "fix(foundryup): warn users if libusb is not installed"
https://github.com/gakonst/foundry/discussions/481#discussion-3805656

[2022-01-19 00:37] onbjerg commented on #99
Notes on how we can achieve coverage:

- We parse the source files using `solang-parser` and take a note of where we want to check for coverage in three buckets: branches, functions and lines. These ranges are saved somewhere so we can reference them later
- We hook into [`Handler::pre_validate`](https://github.com/gakonst/foundry/blob/27c84f943bfc16cccf0bda00af35a7c5a983566a/evm-adapters/src/sput

[2022-01-19 00:52] onbjerg commented on #498
For Linux:

[code]

If exit code 0 then it exists (it outputs `-lusb`), exit code 1 it doesn't.

[2022-01-19 01:18] transmissions11 commented on #498
hmm forge and cast binaries run fine for me and this exits with 1

[2022-01-19 01:18] transmissions11 commented on #498
i guess we just make it a warning

[2022-01-19 02:53] onbjerg commented on #498
mby its diff on macos? no clue

[2022-01-19 03:26] mds1 opened #499 "forge: tests should more clearly indicate out of gas failures"
Using https://github.com/mds1/convex-shutdown-simulation as the test repo for the below snippets

If you set the gas limit to 15000000 in your `.env` file and run `make benchmark-foundry`, you'll see the below. It'd be nice for the reason to say "out of gas". Similarly, this is not clear from the trace if you run with `-vvv`

[code]

[2022-01-19 05:20] transmissions11 opened #502 "fix(foundryup): user manually had to add to .bashrc"
still getting diagnostic info but tracking here for my own sake: https://twitter.com/0xModene/status/1483491515896840192?s=20

[2022-01-19 05:30] #498 closed

[2022-01-19 05:31] gakonst commented on #498
Yea warning SGTM and we follow up if needed

[2022-01-19 06:23] odyslam commented on #436
https://github.com/onbjerg/foundry-book

[2022-01-19 06:34] sorenrood opened #503 "forge create is confusing"
Deploying a contract with forge create is not very intuitive (to me). Consider this contract:

[code]

My first thought was to do `forge create -h`. From here I read that I must include the "artifact". I could not find any information on what "artifacts" are. I ended up figuring out that if you type the name of the contract (in this case "HelloWorld"), it would work.

After I added the rpc-url and

[2022-01-19 06:36] ncitron commented on #447
If nobody has started this I can. I'm a big user of forked tests and this would be a huge UX improvement.

I'm thinking the best way to tackle this would be to change the definition of `CallTraceArea`'s `update_identified` function to take a flag to specify if this is a fork test (which we can get by the presence of `self.evm_opts.fork_url` in `ContractRunner`). From there we just need to update `

[2022-01-19 07:00] AlexanderMazaletskiy opened #505 "foungdryup bug"
macOS Big Sur 11.2.3
1. curl https://raw.githubusercontent.com/gakonst/foundry/master/foundryup/install | bash
2. foundryup

... /.foundry/bin/foundryup: line 83: unexpected EOF while looking for matching `"'

[2022-01-19 08:13] gakonst commented on #505
Closed in #504

[2022-01-19 08:13] #505 closed

[2022-01-19 08:14] gakonst commented on #503
You need to provide a constructor argument, since your contract takes a string you need to do 'forge create HelloWorld "hello"'

[2022-01-19 10:22] fubhy opened #508 "dangling expectEmit doesn't fail"
Dangling `expect*` assertions should fail a test imho. They already do in case of e.g. `expectCall` & `expectRevert`. Howevfer, they don't in case of `expectEmit`.

Demonstrated here: https://github.com/gakonst/foundry/pull/507

[2022-01-19 10:28] fubhy opened #509 "feat(cheatcodes): add negative assertions for `expectEmit` and `expectRevert` using `count` syntax"
Negative assertions, e.g. asserting that a certain `call` was not performed or a certain event was not `emit`ed are not very useful on their own (because they might pass for the wrong reasons, e.g. a negative assertion always passes if you simply don't do anything of course).

However, when paired with positive assertions (e.g. asserting that the tested functionality actually performed the desired

[2022-01-19 10:45] AlexanderMazaletskiy opened #510 "Ds-Test logs_ and Hardhat console.log doesn't work"
Im trying with

forge test --debug, but don't see output logs

[2022-01-19 11:29] gakonst commented on #510
You must do `forge t -vv`!

[code]

[2022-01-19 11:29] #510 closed

[2022-01-19 11:29] gakonst commented on #509
Good idea. Does any other project do it, so that we can have some example? What would be your ideal syntax?

(cc @brockelmore @mds1 @transmissions11)